workflows/bz5Fo0fCAjNRU6Oi.json
{"createdAt":"2025-06-27T04:29:18.384Z","updatedAt":"2025-08-06T13:15:08.000Z","id":"bz5Fo0fCAjNRU6Oi","name":"linkedpost","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=You are an AI research assistant. Given a user query or topic, your job is to find the most relevant and up-to-date information from various sources like Reddit, Twitter/X, Google Trends, and other public forums. Focus on identifying:\n\n- Trending conversations\n- Frequently asked questions\n- Thought leadership posts\n- Controversial or viral takes\n- Latest statistics or data\n- Common pain points or user interests\n\nUser Query: {{ $json.output[0].userPrompt }}\n\nYour response should include a concise summary of key trends or talking points around the topic. Format the result in clean, readable bullet points or paragraphs. Avoid outdated info. Keep the tone professional and insight-driven. give me final key points in 500 characters","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[464,704],"id":"27a47024-1c53-4c40-a302-1b3fde958302","name":"Perplexity"},{"parameters":{"promptType":"define","text":"=You are a Google Trends and real-time search expert.\n\nYour task is to analyze the latest trending data and search interest from Google and summarize the most relevant and up-to-date information around the following topic:\n\nTopic: {{ $json.output[0].userPrompt }}\nPlease include:\n- Top related search queries\n- Trending questions people are asking\n- Regional interest if applicable\n- Recent news articles or developments\n- Popular keywords or hashtags from the topic\n\nThe output should be structured in a professional and clear manner using bullet points or concise sections. Ensure all insights are fresh and reflect current interest.\n\nRespond as if you are an assistant helping a content creator craft timely and trending social media content based on this data.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[512,1072],"id":"bbbbda15-157a-49a2-9ae3-c3a80cbf70fb","name":"Google Gemini"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[224,832],"id":"940a588f-e683-43b0-bfd9-9bda8b9d7169","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"huWwJLZvaQZYheKS","name":"OpenRouter account"}}},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1072,704],"id":"a03391f5-d72b-4a98-84a8-88552452f6a1","name":"Merge"},{"parameters":{"promptType":"define","text":"=You are an AI assistant specialized in optimizing user input for Reddit keyword search.\n\nYour task is to generate **one concise, relevant keyword or search phrase** that best matches the topic described below. This keyword will be used to search relevant discussions on Reddit.\n\nTopic:\n{{ $json.output[0].userPrompt }}\n\nRules:\n- Return **only the keyword or short search phrase**, no explanation.\n- Do **not** include punctuation, hashtags, or special characters.\n- Keep it under 4 words, preferably 1–3.\n- Must be highly relevant and searchable on Reddit.\n-  give me final key points in 500 characters.\nExample Input: \"How AI is transforming education\"\nExample Output: AI in education","options":{"systemMessage":"="}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[0,480],"id":"c4b9b6b0-e6f2-4b5a-80d9-be9e350b33d5","name":"Reedit Serch"},{"parameters":{"model":"google/gemini-flash-1.5","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[0,624],"id":"dbc33f81-1bdb-4da0-ab30-c708ec5928d9","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"huWwJLZvaQZYheKS","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=You are a professional AI assistant specialized in creating engaging and concise LinkedIn posts.\n\nYour task:\n- Analyze the following multi-source content inputs about a specific topic.\n- Summarize it into **one high-quality LinkedIn post**.\n- Add **5–10 relevant and popular LinkedIn hashtags** at the end of the post.\n- Make the tone professional, insightful, and engaging for LinkedIn readers.\n- Keep the total post within **250 words**.\n- combined all queries make only one output post.\n\nInput Content:\n {{ $json.output }} \n\n// This includes aggregated info from Reddit, Perplexity, X (Twitter), Google Trends, etc.\n\nInstructions:\n- DO NOT mention any source names (e.g., Reddit, Perplexity) in the post.\n- Avoid generic statements; focus on informative and valuable insights.\n- Ensure the hashtags are tailored for LinkedIn and relevant to the topic.\n\nFormat:\n<Final LinkedIn Post>\n#hashtag1 #hashtag2 #hashtag3 ...","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1264,720],"id":"b27d181a-c173-4aeb-8c3a-c1da0dd028d7","name":"Summarize Final Post"},{"parameters":{"url":"https://www.reddit.com/search.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.output }}"},{"name":"limit","value":"3"},{"name":"sort","value":"relevance"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,464],"id":"8cb9e3dc-14a1-4e29-b6d0-7f7c4fe0ddee","name":"Reedit Search","credentials":{"httpBasicAuth":{"id":"UloVuP9Ge2eh63ZP","name":"Unnamed credential"}}},{"parameters":{"jsCode":"const response = $input.first().json.data;\n\nconst selftexts = response.children.map(item => {\n  return {\n    json: {\n      selftext: item.data.selftext\n    }\n  };\n});\nlet combinedContent = selftexts.map(item => {\n  const data = item.json;\n  return data.selftext // Customize key names as per your source structure\n}).join('\\n\\n');\nreturn [\n  {\n    json: {\n      output: combinedContent\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,464],"id":"7828ab22-b371-44fb-a80e-3a9c133d73f9","name":"parser"},{"parameters":{"promptType":"define","text":"=You are a LinkedIn Post Content Generation AI assistant.\n\nYour task is to analyze the user’s request and classify it into one of the following categories:\n\t\n1.\tPost Only Request – The user wants only the text content of a LinkedIn post and does not mention or imply a request for an image.\n\nBehavior:\n\t•\tEnhance the user prompt for clarity, grammar, and tone while preserving the original intent. Always use the enhanced version when generating the response.\n\t\n\n{\n  \"userPrompt\": \"enhanced {{ $json.body.userPrompt }}\",\n  \"postRequest\": \"yes\",\n  \"imageRequest\": \"no\",\n\"chatSessionId\": {{ $json.body.chatSessionId }},\n\"fileUrl\": {{ $json.body.fileUrl }} || null\n}\n\nexample : \"create a post on ai agents\"\nthis is not image request, it is only postRequest.\n⚠️ Your response must be a valid JSON object only — do not include explanations, headings, or any extra formatting outside the JSON.\n\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1136,704],"id":"95dc3caa-b7b9-415e-abc5-a5c0700c6e33","name":"enhance the query"},{"parameters":{"model":"google/gemini-flash-1.5","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[736,1392],"id":"629a8c0a-856c-486d-8ba7-6f3faf81389a","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"huWwJLZvaQZYheKS","name":"OpenRouter account"}}},{"parameters":{"httpMethod":"POST","path":"ai-linkedin-post","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1344,688],"id":"4425267e-e932-44fe-98a0-60f6289d2005","name":"Webhook","webhookId":"86ee5caa-6a57-4466-8db3-72410a696678"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[2448,752],"id":"6e7df9e2-2931-482d-b2d1-2ce522830592","name":"Respond to Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bad86793-6366-46c3-9b8b-0ed2108c30d6","leftValue":"={{ $json.output[0].imageRequest }}","rightValue":"no","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"ad6628c1-7290-4822-a5ba-ea70f08738d3","leftValue":"={{ $json.output[0].postRequest }}","rightValue":"yes","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-768,704],"id":"5b2b61e2-379d-482e-b315-ec85704d6a40","name":"only Post","alwaysOutputData":false},{"parameters":{"method":"POST","url":"https://www.linkedin.com/oauth/v2/accessToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"grant_type","value":"authorization_code"},{"name":"code","value":"={{ $json.query.code }}"},{"name":"redirect_uri","value":"http://localhost:5678/webhook-test/linkedinRedirect"},{"name":"client_id","value":"86fmll6j0dj3yn"},{"name":"client_secret","value":"WPL_AP1.Bt9fW5YEcGfXjmuU.Yrp7TQ=="}]},"sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n\"Content-Type\": \"application/x-www-form-urlencoded\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,3600],"id":"f03f99c8-f6db-4f3f-9c8f-231c2a1b68bd","name":"GenerateAccessToken"},{"parameters":{"url":"https://api.linkedin.com/v2/userinfo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-752,3600],"id":"db628aaa-2fe3-498a-9ebe-cf69b79a8cc8","name":"GetUserId"},{"parameters":{"path":"linkedinRedirect","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,3600],"id":"bb7e47e5-4485-4d13-b44c-58501a454ee1","name":"Webhook1","webhookId":"b081d1ab-e347-4301-ae64-148799b4f656"},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"author\": \"urn:li:person:{{ $('MySQL5').item.json.channel_userId }}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": {{ $('PostLinkedAPI').item.json.body.postDetails.toJsonString() }}\n      },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,5280],"id":"a5185ac5-1110-4e56-add7-b5871e708c82","name":"Post in LinkedIn"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c96a307-24d4-4081-9d74-271f02c59491","leftValue":"={{ $('enhance the query').item.json.output[0].postRequest }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"39f66911-85a4-4af4-849d-4f3a6ea6705e","leftValue":"={{ $('enhance the query').item.json.output[0].imageRequest }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"0f33f6e1-54a6-402a-9246-6aecc54a7bdc","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1648,720],"id":"3f734abf-43e1-477e-be14-981424a29335","name":"if image and post"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17063efc-3a47-480c-a253-685ae2e08ccc","leftValue":"={{ $('Webhook').item.json.body.generateFromLinkedin }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-480,640],"id":"9e079991-4763-4e8f-8dad-0b0fdd871b1b","name":"FetchLinkedInPosts","alwaysOutputData":false},{"parameters":{"table":{"__rl":true,"value":"user_channels_tokens","mode":"list","cachedResultName":"user_channels_tokens"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"channel","value":"linkedin"},{"column":"accessToken","value":"={{ $('GenerateAccessToken').item.json.access_token }}"},{"column":"expiryDate","value":"={{ $('GenerateAccessToken').item.json.expires_in }}"},{"column":"idToken","value":"={{ $('GenerateAccessToken').item.json.id_token }}"},{"column":"userName","value":"={{ $json.name }}"},{"column":"userEmail","value":"={{ $json.email }}"},{"column":"userId","value":"=c7ceec18-df12-481d-b7b8-0012950b2c69"},{"column":"channel_userId","value":"={{ $json.sub }}"},{"column":"status","value":"connected"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-512,3600],"id":"a1a67cc0-94b7-4729-8001-6a41e7ace29e","name":"MySQL1","credentials":{"mySql":{"id":"G55hMFSxh69KTQXt","name":"mysql-306fe6f0-srinivasnaskanti-3790.l.aivencloud.com"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-304,3600],"id":"ccf99025-c658-4eab-8b64-2f2714ffeed7","name":"Respond to Webhook3"},{"parameters":{"path":"getUserChannels","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1344,3968],"id":"22137679-b0b4-47a8-80e6-157a0750a8e0","name":"getUserChannels","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"user_channels_tokens","mode":"list","cachedResultName":"user_channels_tokens"},"where":{"values":[{"column":"userId","value":"={{ $json.query.userId }}"},{"column":"status","value":"connected"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1120,3968],"id":"6cb5c72f-cf07-453d-85f2-1c817ed2c1e0","name":"MySQL2","credentials":{"mySql":{"id":"G55hMFSxh69KTQXt","name":"mysql-306fe6f0-srinivasnaskanti-3790.l.aivencloud.com"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-896,3968],"id":"d95fd341-a928-4b49-aa8d-b175737be733","name":"Respond to Webhook4"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"user_post_suggestions","mode":"list","cachedResultName":"user_post_suggestions"},"where":{"values":[{"column":"chatSessionId","value":"={{ $json.query.chatSessionId }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1120,4480],"id":"b2f89c84-cee8-4469-a7ce-c7ec9b571ccb","name":"MySQL3","credentials":{"mySql":{"id":"G55hMFSxh69KTQXt","name":"mysql-306fe6f0-srinivasnaskanti-3790.l.aivencloud.com"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-896,4480],"id":"55676a90-92d2-4c95-8184-66b7db5a2b56","name":"Respond to Webhook5"},{"parameters":{"path":"getUserAIPosts","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1344,4480],"id":"f7a6a610-9108-4067-9532-9b823edcffc0","name":"getUserAIPosts","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"operation":"update","table":{"__rl":true,"value":"user_channels_tokens","mode":"list","cachedResultName":"user_channels_tokens"},"dataMode":"defineBelow","columnToMatchOn":"id","valueToMatchOn":"={{ $json.query.id }}","valuesToSend":{"values":[{"column":"status","value":"disconnected"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1120,4752],"id":"d94c9c39-3f90-4992-a7eb-c9bdde3fdc8a","name":"MySQL4","credentials":{"mySql":{"id":"G55hMFSxh69KTQXt","name":"mysql-306fe6f0-srinivasnaskanti-3790.l.aivencloud.com"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-896,4752],"id":"69fc47b8-ee6e-4873-9cfd-35247a1078e9","name":"Respond to Webhook6"},{"parameters":{"httpMethod":"PATCH","path":"disconnectChannel","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1344,4752],"id":"61aa8db5-f71e-4f29-8a70-0e48c2316a45","name":"disconnectChannel","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"user_channels_tokens","mode":"list","cachedResultName":"user_channels_tokens"},"where":{"values":[{"column":"userId","value":"={{ $json.body.userId }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1088,5024],"id":"b166a6bd-92ed-4d05-b9c7-2885d588d9f0","name":"MySQL5","credentials":{"mySql":{"id":"G55hMFSxh69KTQXt","name":"mysql-306fe6f0-srinivasnaskanti-3790.l.aivencloud.com"}}},{"parameters":{"httpMethod":"POST","path":"PostLinkedAPI","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1440,5008],"id":"b24311eb-5686-4a23-821d-269127596ba4","name":"PostLinkedAPI","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[560,5280],"id":"677ed461-90cc-4b78-ba75-d60ff78fe350","name":"Respond to Webhook7"},{"parameters":{"promptType":"define","text":"=you are a image generator agent\n\nuser input :  {{ $json.body.imagePrompt }}\n\nwhen user giving input modify this proper image prompt and give enhanced imagePrompt by output parser.\n\nuse chatSessionId: {{ $json.body.chatSessionId }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1120,2992],"id":"1a79019c-a3d3-49ad-a135-667d85f120c4","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1168,3232],"id":"2786c632-62e8-4b2f-bbac-0189a5bf86c0","name":"OpenRouter Chat Model4","credentials":{"openRouterApi":{"id":"huWwJLZvaQZYheKS","name":"OpenRouter account"}}},{"parameters":{"jsonSchemaExample":"[{\n\"imageRequest\": true,\n\"imagePrompt\":\"imageprompt\",\n  \"chatSessionId\":\"\"\n}\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-896,3232],"id":"067cdac6-15be-40f5-9c6a-5e06d415910c","name":"Structured Output Parser1"},{"parameters":{"httpMethod":"POST","path":"generate-image","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1344,3088],"id":"38b8ab49-e628-4c31-b524-99c8ee4efe17","name":"generateImage","webhookId":"86ee5caa-6a57-4466-8db3-72410a696678"},{"parameters":{"method":"POST","url":"https://api-inference.huggingface.co/models/black-forest-labs/FLUX.1-schnell","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"image/jpeg"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=Depict {{ $json.output[0].imagePrompt }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,3008],"id":"a04c31fb-76f4-44fa-98f8-43eaff99f372","name":"Image Generator2","credentials":{"httpBearerAuth":{"id":"qJOaEhwgfRJyu8ir","name":"Bearer Auth account 2"}}},{"parameters":{"operation":"upload","bucketName":"sri-ai-test-bucket-51","fileName":"={{ $json.output[0].chatSessionId }}","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-480,3040],"id":"591bc61a-a4ee-4a3f-9810-d168686133d2","name":"S31","credentials":{"s3":{"id":"bf4qFYjaYhqxrFxX","name":"S3 account"}}},{"parameters":{"jsCode":"const output = [];\n\nfor (const item of $input.all()) {\n  output.push({\n    imageUrl: `https://vzeppbheuluizjzinrvb.supabase.co/storage/v1/object/public/sri-ai-test-bucket-51/${item.json.output[0].chatSessionId}`\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,3088],"id":"af2f6959-7c7c-4899-84b9-9e6572ca2af6","name":"Code1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[464,3088],"id":"567d9674-e94c-48f3-9275-cf9f1e49ac56","name":"Respond to Webhook8"},{"parameters":{"assignments":{"assignments":[{"id":"78d9009a-3cd6-440a-b2cb-035d7989f3be","name":"output[0].chatSessionId","value":"={{ $('Image Generator2').item.json.output[0].chatSessionId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,3008],"id":"15eb2fd8-72d5-45a8-86d0-3e9fef003584","name":"Edit Fields"},{"parameters":{"table":{"__rl":true,"value":"user_posts","mode":"list","cachedResultName":"user_posts"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"userId","value":"={{ $json.userId }}"},{"column":"postDetails","value":"={{ $('PostLinkedAPI').item.json.body.postDetails }}"},{"column":"status","value":"published"},{"column":"chatSessionId","value":"={{ $('PostLinkedAPI').item.json.body.chatSessionId }}"}]},"options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-864,5024],"id":"24097c3a-0838-481d-82c8-4291c483d75e","name":"save to user posts","credentials":{"mySql":{"id":"G55hMFSxh69KTQXt","name":"mysql-306fe6f0-srinivasnaskanti-3790.l.aivencloud.com"}}},{"parameters":{"table":{"__rl":true,"value":"posts_images","mode":"list","cachedResultName":"posts_images"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"postId","value":"={{ $json.data.insertId }}"},{"column":"filePathUrl","value":"={{ $('PostLinkedAPI').item.json.body.imageUrl }}"},{"column":"status","value":"0"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-624,5024],"id":"66b2f376-ccb0-4c22-94ce-92173a2172cf","name":"MySQL7","credentials":{"mySql":{"id":"G55hMFSxh69KTQXt","name":"mysql-306fe6f0-srinivasnaskanti-3790.l.aivencloud.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64a484cf-f593-46f0-98ef-8b10a784131e","leftValue":"={{ $('PostLinkedAPI').item.json.body.imagePost }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,5024],"id":"ec769bd0-4779-4e50-aad3-9442ff536ae0","name":"If"},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/assets?action=registerUpload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('MySQL5').item.json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"registerUploadRequest\": {\n    \"recipes\": [\"urn:li:digitalmediaRecipe:feedshare-image\"],\n    \"owner\": \"urn:li:person:{{ $('MySQL5').item.json.channel_userId }}\",\n    \"serviceRelationships\": [\n      {\n        \"relationshipType\": \"OWNER\",\n        \"identifier\": \"urn:li:userGeneratedContent\"\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,4912],"id":"3a78c0fc-b05e-4b8a-afc6-d68e0ae84fa5","name":"HTTP Request"},{"parameters":{"method":"PUT","url":"={{ $json.value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'].uploadUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('MySQL5').item.json.accessToken }}"},{"name":"Content-Type","value":"image/jpeg"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,4944],"id":"9521e0b6-c2d1-4a89-a4d6-23195c7ed016","name":"HTTP Request1"},{"parameters":{"url":"={{ $('PostLinkedAPI').item.json.body.imageUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"image/jpeg"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,4928],"id":"a64edd22-4ebc-497d-a035-29cffe3f15f3","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('MySQL5').item.json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  author: `urn:li:person:${$('MySQL5').item.json.channel_userId}`,\n  lifecycleState: \"PUBLISHED\",\n  specificContent: {\n    \"com.linkedin.ugc.ShareContent\": {\n      shareCommentary: {\n        text: $('PostLinkedAPI').item.json.body.postDetails\n      },\n      shareMediaCategory: \"IMAGE\",\n      media: [\n        {\n          status: \"READY\",\n          media: $('HTTP Request2').item.json.value.asset,\n          title: {\n            text: \"Optional image title\"\n          }\n        }\n      ]\n    }\n  },\n  visibility: {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,4928],"id":"01109410-8d86-41f4-b9e3-2772e8440f74","name":"Post in LinkedIn1"},{"parameters":{"operation":"executeQuery","query":"SELECT up.id, up.postDetails, pi.filePathUrl as imageUrl, up.status, up.createdAt, up.updatedAt FROM user_posts up\nleft join posts_images pi on pi.postId = up.id\nwhere up.userid = '{{ $json.query.userId }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1104,5584],"id":"be8e4fe0-ce9d-4bb8-9209-a4b0140b8654","name":"MySQL8","credentials":{"mySql":{"id":"G55hMFSxh69KTQXt","name":"mysql-306fe6f0-srinivasnaskanti-3790.l.aivencloud.com"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-880,5584],"id":"a44cb8fb-0b5d-4608-90f1-743e6e755f95","name":"Respond to Webhook9"},{"parameters":{"path":"getUserPosts","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1328,5584],"id":"7fb12096-1631-4c2f-bf08-2e1ff81780ce","name":"getUserAIPosts1","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"httpMethod":"POST","path":"train-file-upload","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1728,1968],"id":"cd0d8fb7-988b-473b-8841-1576a4913939","name":"Webhook2","webhookId":"86ee5caa-6a57-4466-8db3-72410a696678"},{"parameters":{"jsCode":"const data = $input.first().json.pages;\n\nreturn data.map(entry => ({\n  json: {\n    markdown: entry.markdown\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,1968],"id":"514c1e93-20b2-4af6-8d66-dfbadbe301a0","name":"Code2"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\":true,\n  \"id\": \"{{ $('Crypto').item.json.uuid }}\",\n  \"filePath\": \"{{ $('Remodify Response').item.json.filePath }}\",\n\"fileType\":\"{{ $('Webhook2').item.json.body.fileType }}\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[992,1968],"id":"e4076f36-de9e-4fb9-afbc-33fa66af43a3","name":"Respond to Webhook10"},{"parameters":{"operation":"upload","bucketName":"sri-ai-test-bucket-51","fileName":"=","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-848,1968],"id":"6e42b6c7-0f6e-433f-a8fd-039b31b8f4d4","name":"S32","credentials":{"s3":{"id":"bf4qFYjaYhqxrFxX","name":"S3 account"}}},{"parameters":{"action":"generate","dataPropertyName":"uuid"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-1504,1968],"id":"bc9ef9da-541c-4f1d-8299-625a5fe84c61","name":"Crypto"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"=file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1280,1968],"id":"b7a0aa56-4f95-442b-bab8-a06783e72e83","name":"Extract from File"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"={{ $('Crypto').item.json.uuid }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1056,1968],"id":"37b0aa7a-35d4-4764-87ef-742e14b88370","name":"Convert to File"},{"parameters":{"table":{"__rl":true,"value":"file_manager","mode":"list","cachedResultName":"file_manager"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"userId","value":"={{ $('Webhook2').item.json.body.userId }}"},{"column":"filePath","value":"={{ $('Crypto').item.json.uuid }}"},{"column":"fileType","value":"={{ $('Webhook2').item.json.body.fileType }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-624,1968],"id":"e9a84e27-5a1d-4935-b931-286f66261472","name":"MySQL9","credentials":{"mySql":{"id":"G55hMFSxh69KTQXt","name":"mysql-306fe6f0-srinivasnaskanti-3790.l.aivencloud.com"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"ripplelinkedin","mode":"list","cachedResultName":"ripplelinkedin"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[544,1968],"id":"d3bd4b3b-df98-46b3-9db8-85ab1e1c3335","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"GWlQPEGOGJhWpk1i","name":"QdrantApi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[480,2192],"id":"074af0f0-c756-478b-9025-c88c6376b245","name":"Embeddings Google Gemini2","credentials":{"googlePalmApi":{"id":"XpXJgjccaaNnnRDT","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"userId","value":"={{ $('Webhook2').item.json.body.userId }}"},{"name":"type","value":"userUploads"},{"name":"fileId","value":"={{ $('Crypto').item.json.uuid }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[688,2192],"id":"59da4f9c-1a6b-491e-9042-e5398335c759","name":"Default Data Loader1"},{"parameters":{"chunkSize":400,"chunkOverlap":40},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[752,2400],"id":"32f8fc6a-1bdb-42a2-af7b-ec989d05ff90","name":"Token Splitter1"},{"parameters":{"promptType":"define","text":"=You are a helpful assistant for checking user input related data in qdrant vector db data collections.\n\nuser input :  {{ $json.output[0].userPrompt }}\n\nfetch max 1 result\n\nif qdrant results don't seem to be directly related to user input modify resultsFound to false.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[208,-64],"id":"90ddd781-259d-4e14-961e-cc88a3194285","name":"AI Agent3"},{"parameters":{"mode":"retrieve-as-tool","toolName":"rippleai","toolDescription":"work with your data in qdrant collection","qdrantCollection":{"__rl":true,"value":"ripplelinkedin","mode":"list","cachedResultName":"ripplelinkedin"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[240,192],"id":"d79a6e47-b129-47e2-b405-ed54eb7c2954","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"GWlQPEGOGJhWpk1i","name":"QdrantApi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[256,352],"id":"935ee1e7-b0b3-4df3-946b-b70edcf3fdc9","name":"Embeddings Google Gemini3","credentials":{"googlePalmApi":{"id":"XpXJgjccaaNnnRDT","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YNt92rdPqRQwb6U4dsao40Sp9Kz76JCc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  model: \"mistral-ocr-latest\",\n  document: {\n    \"type\": \"image_url\",\n    \"image_url\": $json.filePath\n},\n  include_image_base64: true\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,1872],"id":"d5db43f4-634d-488a-976c-408f448ab451","name":"IMAGE OCR"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YNt92rdPqRQwb6U4dsao40Sp9Kz76JCc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  model: \"mistral-ocr-latest\",\n  document: {\n    type: \"document_url\",\n    document_url: $('Remodify Response').item.json.filePath,\n},\n  include_image_base64: true\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,2064],"id":"7180edde-596d-4dc5-a3f9-dcc1068b6e76","name":"PDF OCR"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d731affe-2a05-4c2e-86fd-4a84e518208b","leftValue":"={{ $json.fileType.split('/')[1] }}","rightValue":"jpg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"add80986-d6fe-4a76-b615-4ed6bdb18e57","leftValue":"={{ $json.fileType.split('/')[1] }}","rightValue":"jpeg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"47cbbe7c-8b7d-428d-88cc-d1d4f824e52d","leftValue":"={{ $json.fileType.split('/')[1] }}","rightValue":"png","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-176,1968],"id":"c83c18da-d975-4c64-9c28-5002ebe519a2","name":"Recongnize File Types"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nfor (const item of $input.all()) {\n  item.json.filePath = \"https://vzeppbheuluizjzinrvb.supabase.co/storage/v1/object/public/sri-ai-test-bucket-51/\" + $('Crypto').first().json.uuid;\n  item.json.fileType = $('Webhook2').first().json.body.fileType\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,1968],"id":"00255bb7-3760-419c-9141-2eb45b8ca2c6","name":"Remodify Response"},{"parameters":{"jsonSchemaExample":"{\n\t\"output\": \"\",\n\t\"resultsFound\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[544,192],"id":"5e0a3301-0c62-4f05-a4cf-701b94206039","name":"Structured Output Parser3"},{"parameters":{"assignments":{"assignments":[{"id":"2b70ef39-8adc-47b2-8b58-108fd77362d4","name":"knowledge_base","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,144],"id":"484b6780-2f47-4f26-bffa-2f63f5200928","name":"rename field"},{"parameters":{"errorMessage":"Error"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2448,960],"id":"f80429c6-2f9f-4c08-a1f5-f513d2a1a3cb","name":"Stop and Error"},{"parameters":{"content":"## Post suggestion and store in database\n## Suggestion post will store in mysql. \n## 1. with the help of these REDIGT, GEMINI, RAG, Perpluxy gives 4 result as suggestion in database\n\nGemini key:-   AIzaSyDIPL45pZ2qU3CnaYczSbngVcboHFOonVM ","height":2000,"width":5104},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1376,-352],"id":"3275c42b-ca58-47b1-96f3-efe3a302e2e8","name":"Sticky Note"},{"parameters":{"content":"## attaching pdf so we are saving in vector db and it help to suuggest post\n\ncredential require\n\nEmbeddings Google Gemini2\n s3 bucket\n mysql\nQdrant Vector Store\ngemini api","height":704,"width":3456},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2144,1824],"id":"8409a140-f10e-478f-9006-70889f418c11","name":"Sticky Note1"},{"parameters":{"content":"## Generate the images and store in s3 and get there url as  result\n\ncredential\n openrouter\n","height":640,"width":2464},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1584,2736],"id":"2e093bc5-facc-4091-9e0c-5257215731f9","name":"Sticky Note3"},{"parameters":{"content":"## login in linkedin and store the token in mysql","height":256,"width":1632},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1456,3536],"id":"54a02942-1800-45b1-9eee-00930518bb70","name":"Sticky Note4"},{"parameters":{"content":"## get our profile details\n\nit help in ui to check. is it connected or not ","height":352,"width":928},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1472,3840],"id":"27d2128b-3a1b-47b7-904c-18f36cafb8f4","name":"Sticky Note5"},{"parameters":{"content":"## it will give ai suggestions from mysql","height":272,"width":848},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1472,4384],"id":"2eff82fb-f3e2-471a-88a7-1e61861d20ed","name":"Sticky Note6"},{"parameters":{"content":"## disconnect already connected linked in account","height":224,"width":912},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1488,4672],"id":"e6507991-d5f0-44ff-aabb-06572f8eb902","name":"Sticky Note7"},{"parameters":{"content":"## Post to Linkedin","height":528,"width":2352},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1504,4896],"id":"ac91feaa-a19b-412c-ac6c-8bcdbdbe1fec","name":"Sticky Note8"},{"parameters":{"content":"## Get User Posted Posts From Mysql","height":432,"width":912},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1472,5472],"id":"9bbe903c-3a90-466b-9c1e-4e37e3878bd5","name":"Sticky Note9"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1136,896],"id":"283568cb-5f84-4c5c-afbb-c78846e677aa","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"asGYPjsFxAj6dlds","name":"OpenAi account 2"}}},{"parameters":{"schemaType":"manual","inputSchema":"={\n  \"type\": \"object\",\n  \"properties\": {\n    \"enhancedUserPrompt\": { \"type\": \"string\" },\n    \"postRequest\": { \"type\": \"boolean\" },\n    \"imageRequest\": { \"type\": \"boolean\" },\n    \"chatSessionId\": { \"type\": \"string\" },\n    \"fileUrl\": { \"type\": [\"string\", \"null\"] }\n  },\n  \"required\": [\"enhancedUserPrompt\", \"postRequest\", \"imageRequest\", \"chatSessionId\", \"fileUrl\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-928,864],"id":"2885b95d-d57d-471b-8a95-1f9da3a739e5","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,96],"id":"a968c1e3-225e-4bf6-a225-41c497f15a8d","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"asGYPjsFxAj6dlds","name":"OpenAi account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[336,912],"id":"472ebd29-87cc-4ba8-908e-c4bf14c7869a","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"asGYPjsFxAj6dlds","name":"OpenAi account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1136,928],"id":"61bccab1-120c-4c9b-8728-297827a0c5c9","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"asGYPjsFxAj6dlds","name":"OpenAi account 2"}}},{"parameters":{"table":{"__rl":true,"value":"=user_post_suggestions","mode":"name"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"userId","value":"c7ceec18-df12-481d-b7b8-0012950b2c69"},{"column":"postDetails","value":"={{ $json.output }}"},{"column":"chatSessionId","value":"={{ $('FetchLinkedInPosts').item.json.output.chatSessionId }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1984,960],"id":"6d056314-c4cd-4979-a619-61757a4b8219","name":"Insert rows in a table","credentials":{"mySql":{"id":"G55hMFSxh69KTQXt","name":"mysql-306fe6f0-srinivasnaskanti-3790.l.aivencloud.com"}},"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[384,1280],"id":"aec86ed8-a899-4a23-bf2b-1c75ffb7befb","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"asGYPjsFxAj6dlds","name":"OpenAi account 2"}}}],"connections":{"Perplexity":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google Gemini":{"main":[[{"node":"Merge","type":"main","index":2}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"Merge":{"main":[[{"node":"Summarize Final Post","type":"main","index":0}]]},"Reedit Serch":{"main":[[{"node":"Reedit Search","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Reedit Serch","type":"ai_languageModel","index":0}]]},"Summarize Final Post":{"main":[[{"node":"if image and post","type":"main","index":0}]]},"Reedit Search":{"main":[[{"node":"parser","type":"main","index":0}]]},"parser":{"main":[[{"node":"Merge","type":"main","index":1}]]},"enhance the query":{"main":[[{"node":"only Post","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[]]},"Webhook":{"main":[[{"node":"enhance the query","type":"main","index":0}]]},"only Post":{"main":[[{"node":"FetchLinkedInPosts","type":"main","index":0}]]},"GenerateAccessToken":{"main":[[{"node":"GetUserId","type":"main","index":0}]]},"GetUserId":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"GenerateAccessToken","type":"main","index":0}]]},"if image and post":{"main":[[],[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Insert rows in a table","type":"main","index":0}]]},"FetchLinkedInPosts":{"main":[[],[{"node":"Perplexity","type":"main","index":0},{"node":"Reedit Serch","type":"main","index":0},{"node":"Google Gemini","type":"main","index":0},{"node":"AI Agent3","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"getUserChannels":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"MySQL3":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"getUserAIPosts":{"main":[[{"node":"MySQL3","type":"main","index":0}]]},"MySQL4":{"main":[[{"node":"Respond to Webhook6","type":"main","index":0}]]},"disconnectChannel":{"main":[[{"node":"MySQL4","type":"main","index":0}]]},"MySQL5":{"main":[[{"node":"save to user posts","type":"main","index":0}]]},"PostLinkedAPI":{"main":[[{"node":"MySQL5","type":"main","index":0}]]},"Post in LinkedIn":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"generateImage":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Image Generator2","type":"main","index":0}]]},"Image Generator2":{"main":[[{"node":"S31","type":"main","index":0}]]},"S31":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Respond to Webhook8","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"save to user posts":{"main":[[{"node":"MySQL7","type":"main","index":0}]]},"MySQL7":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Post in LinkedIn","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Post in LinkedIn1","type":"main","index":0}]]},"MySQL8":{"main":[[{"node":"Respond to Webhook9","type":"main","index":0}]]},"getUserAIPosts1":{"main":[[{"node":"MySQL8","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"S32","type":"main","index":0}]]},"S32":{"main":[[{"node":"MySQL9","type":"main","index":0}]]},"MySQL9":{"main":[[{"node":"Remodify Response","type":"main","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Token Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Respond to Webhook10","type":"main","index":0}]]},"Qdrant Vector Store1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Embeddings Google Gemini3":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"IMAGE OCR":{"main":[[{"node":"Code2","type":"main","index":0}]]},"PDF OCR":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Recongnize File Types":{"main":[[{"node":"IMAGE OCR","type":"main","index":0}],[{"node":"PDF OCR","type":"main","index":0}]]},"Remodify Response":{"main":[[{"node":"Recongnize File Types","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"rename field","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent3","type":"ai_outputParser","index":0}]]},"rename field":{"main":[[{"node":"Merge","type":"main","index":3}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"enhance the query","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"enhance the query","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Perplexity","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Summarize Final Post","type":"ai_languageModel","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Google Gemini","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"getUserChannels":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"PostmanRuntime/7.44.0","accept":"*/*","accept-encoding":"gzip, br","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"152.57.230.209","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"9443a735c2d84722-BOM","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","postman-token":"70f2bd27-0d78-4543-84ea-6b6cf4e12ed3","x-forwarded-for":"152.57.230.209, 172.69.86.13","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-hw8mx","x-is-trusted":"yes","x-real-ip":"152.57.230.209"},"params":{},"query":{"userId":"c7ceec18-df12-481d-b7b8-0012950b2c69"},"body":{},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/getUserChannels","executionMode":"test"}}],"disconnectChannel":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8,az;q=0.7,bg;q=0.6,bm;q=0.5,bho;q=0.4,te;q=0.3","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"9444996f16feb2d6-CCU","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","origin":"http://localhost:3000","pragma":"no-cache","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f, 172.68.127.195","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-dzmpm","x-is-trusted":"yes","x-real-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f"},"params":{},"query":{"id":"5aabb945-b10a-44da-8f3c-ccf20c95dfbf"},"body":{},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/getUserAIPosts","executionMode":"test"}}],"PostLinkedAPI":[{"json":{"body":{"userId":"c7ceec18-df12-481d-b7b8-0012950b2c69","postDetails":"Here's the final LinkedIn post:\n\n**The Rapid Evolution of AI Agents: Trends, Talking Points, and Insights**\n\nThe field of AI agents is experiencing explosive growth, driven by rapid innovation and development. We're now seeing complex reasoning and task execution capabilities beyond basic chatbots. However, this progress also raises important discussions around practical applications, safety, and ethics. As AI agents become more accessible and democratized, it's crucial we focus on responsible development and seamless integration with existing systems. With real-world applications spanning healthcare, finance, and customer service, the emphasis is shifting from theoretical advancements to tangible ROI. As we navigate these trends, it's essential to prioritize safety, control, and ethical implementation to ensure the long-term benefits of AI agents.\n\n#AI #ArtificialIntelligence #MachineLearning #Chatbots #AIApplications #EthicsInAI #DigitalTransformation","imageUrl":"https://vzeppbheuluizjzinrvb.supabase.co/storage/v1/object/public/sri-ai-test-bucket-51/6fe96d6a-bb49-4845-8ab2-59314dd45873","chatSessionId":"6fe96d6a-bb49-4845-8ab2-59314dd45873","imagePost":true}}}],"generateImage":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","content-length":"95","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8,az;q=0.7,bg;q=0.6,bm;q=0.5,bho;q=0.4,te;q=0.3","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2409:40f0:112a:1966:28a8:1987:5b19:3127","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"945cf05507bfa024-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","origin":"http://localhost:3000","pragma":"no-cache","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"2409:40f0:112a:1966:28a8:1987:5b19:3127, 162.158.170.214","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-hw8mx","x-is-trusted":"yes","x-real-ip":"2409:40f0:112a:1966:28a8:1987:5b19:3127"},"params":{},"query":{},"body":{"chatSessionId":"6fe96d6a-bb49-4845-8ab2-59314dd45873","imagePrompt":"generate peacock image"},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/generate-image","executionMode":"test"}}],"getUserAIPosts1":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8,az;q=0.7,bg;q=0.6,bm;q=0.5,bho;q=0.4,te;q=0.3","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"9444996f16feb2d6-CCU","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","origin":"http://localhost:3000","pragma":"no-cache","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f, 172.68.127.195","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-dzmpm","x-is-trusted":"yes","x-real-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f"},"params":{},"query":{"userId":"c7ceec18-df12-481d-b7b8-0012950b2c69"},"body":{},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/getUserAIPosts","executionMode":"test"}}]},"versionId":"d7a894ad-2fdd-4c04-bea3-ace8f423d84c","triggerCount":9,"tags":[]}