workflows/Dgy4fSklC13poWV0.json
{"createdAt":"2025-07-07T12:43:50.874Z","updatedAt":"2025-07-07T13:12:12.000Z","id":"Dgy4fSklC13poWV0","name":"My workflow 7","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-660,-160],"id":"a458bb6b-b71f-4c17-8b5f-831ee82dbd8a","name":"When chat message received","webhookId":"b8bc53fb-3922-41f8-83ef-c0c857b63c28"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"{\n  \"apifyJobId\": \"mcp-context-handler\",\n  \"jobData\": [\n    {\n      \"systemPrompt\": \"You are a helpful Apify assistant with tools called Actors.\\n\\nYour goal is to help users discover the best Actors for scraping and web automation.\\nYou have access to a list of tools that can help you discover Actors, find details, and include them among tools for later execution.\\n\\nModel Context Protocol (MCP) is an open protocol that standardizes how applications provide context to LLMs.\\n\\nChoose the appropriate Actor based on the conversation context. If no Actor is needed, reply directly.\\n\\nPrefer Actors with more users, stars, and runs.\\nWhen you need to use an Actor, explain how it is used and with which parameters.\\nNever call an Actor unless it is required by the user!\\n\\nAfter receiving an Actor's response:\\n1. Transform the raw data into a natural, conversational response.\\n2. Keep responses concise but informative.\\n3. Focus on the most relevant information.\\n4. Use appropriate context from the user's question.\\n5. Avoid simply repeating the raw data.\\nAlways use 'Actor', not 'actor'. Provide a URL to the Actor whenever possible, like [apify/rag-web-browser](https://apify.com/apify/rag-web-browser).\\nActor execution may take some time, and results can be large. Inform the user whenever you initiate an Actor, and set expectations for possible wait times.\\nIf possible, limit the number of results to 3, 5, or 10. Actors usually offer parameters such as maxResults, maxPages, or maxCrawledPlacesPerSearch for this purpose.\\nThe server limits the number of results returned, but you can always request more results from paginated datasets or fetch additional data from the key-value store if needed.\"\n    }\n  ]\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-360,-160],"id":"ae4adad6-f529-4da2-a893-bf169f8b3a74","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-440,60],"id":"c9516dd3-8a4b-43ff-aa76-8eb51b554a15","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"jwg6bbbn5SPmRecv","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst fieldData=JSON.parse($input.first().json.output)\nlet array=[]\nfor (const item of fieldData.jobData) {\n  array.push(item)\n}\n\nreturn array"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,-160],"id":"05481754-84fe-4e92-9b0d-92beb3bd93a8","name":"Code"},{"parameters":{"sseEndpoint":"https://mcp.apify.com/sse?actors=clockworks/tiktok-scraper","authentication":"bearerAuth"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[120,80],"id":"c9e4bba6-f62d-420f-beb6-d08713221308","name":"Actor","credentials":{"httpBearerAuth":{"id":"aWw8KIJa2sqvR9Su","name":"Bearer Auth account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-280,60],"id":"4d83803e-af31-46c0-ba9d-69c4f8f758ac","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.2,"position":[-100,60],"id":"dbca1112-862c-49ab-953e-cef053f08390","name":"Code Tool"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code":{"main":[[]]},"Actor":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Code Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"31c22069-1f16-4ef7-ac2e-63a87ca6d968","triggerCount":0,"tags":[]}