workflows/GJmsHUr410w3xGve.json
{"createdAt":"2025-07-08T17:08:06.289Z","updatedAt":"2025-07-08T17:51:09.000Z","id":"GJmsHUr410w3xGve","name":"Cortland Watson","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ai-agent-request","options":{}},"name":"Webhook - Receive Request","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-620,220],"id":"d4adab0f-ac4c-4175-859d-0148ac526492","webhookId":"79554bf9-abc8-4367-a5b2-d62a2d9c8762"},{"parameters":{"functionCode":"// Determine task type and route to specialized agent\nreturn items;"},"name":"Supervisor Agent","type":"n8n-nodes-base.function","typeVersion":1,"position":[-380,220],"id":"a274dbb2-2255-4dae-8420-af0e215f8430"},{"parameters":{},"name":"Specialized Agent Router","type":"n8n-nodes-base.switch","typeVersion":1,"position":[-120,200],"id":"7ea65fe0-791d-4065-bacd-e90e75b1a628"},{"parameters":{"functionCode":"// Handle assistant task\nreturn items;"},"name":"Assistant Agent","type":"n8n-nodes-base.function","typeVersion":1,"position":[200,20],"id":"bedd0223-ab0c-45f0-b752-943187cc37cb"},{"parameters":{"functionCode":"// Handle reminder task\nreturn items;"},"name":"Reminder Agent","type":"n8n-nodes-base.function","typeVersion":1,"position":[200,160],"id":"73675efd-01c9-4182-9a18-04a67ba2df36"},{"parameters":{"functionCode":"// Handle goal task\nreturn items;"},"name":"Goal Agent","type":"n8n-nodes-base.function","typeVersion":1,"position":[200,300],"id":"a5b77df0-6069-4a97-9d50-1da786e0c1cc"},{"parameters":{"functionCode":"// Handle course task\nreturn items;"},"name":"Course Agent","type":"n8n-nodes-base.function","typeVersion":1,"position":[200,440],"id":"ef8b3132-3b92-4fa2-b23b-f42ca8251478"},{"parameters":{"functionCode":"// Format response for user\nreturn items;"},"name":"Formatter Agent","type":"n8n-nodes-base.function","typeVersion":1,"position":[500,160],"id":"b25268af-284f-4655-8b3d-13a343493a9f"},{"parameters":{"options":{}},"name":"Respond to User","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[780,160],"id":"876eee2d-5aa8-439a-a93e-4b717d541973"},{"parameters":{"content":"## Receive the Request\nTrigger: Incoming user message or system event\nPath: /ai-agent-request\nMethod: POST\nPurpose: Entry point to accept the task/query","height":460,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-660,-60],"id":"4d593128-1d32-4784-ae41-0092d3f02047","name":"Sticky Note"},{"parameters":{"content":"## Supervisor Agent\nAction: Passes the request to the appropriate specialized agent\nLogic: Checks the type or category of task (reminder, goal, etc.)","height":460,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-440,-60],"id":"297516d4-5a54-4783-8fb4-246e04bb1173","name":"Sticky Note1"},{"parameters":{"content":"## Specialized Agent Decision\nAction: Determines which specialized agent to route the request to\nBranches:\nAssistant Agent\nReminder Agent\nGoal Agent\nCourse Agent","height":460,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-180,-60],"id":"c7558d93-0cf5-45b7-927f-c9b60162a2f0","name":"Sticky Note2"},{"parameters":{"content":"##  Specialized Agent(s) \nEach agent performs a domain-specific task:\nAssistant Agent: Handles general help, guidance\nReminder Agent: Schedules and manages reminders\nGoal Agent: Sets or retrieves user goals\nCourse Agent: Deals with course or learning-related queries\n","height":780,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,-200],"id":"040b3cca-2d11-4db3-afa5-927d04c0cf69","name":"Sticky Note3"},{"parameters":{"content":"## Formatter Agent\nPurpose: Formats the output from specialized agents into a clean, user-readable message\n\nAction: Prepares the final text or structure for the user","height":480,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[440,-80],"id":"2f3d6b5b-0ad1-438e-87cc-09a38ab35e6b","name":"Sticky Note4"},{"parameters":{"content":"## Response to User\nNode Type: HTTP Response / Messenger API / Webhook Reply\n\nAction: Sends the formatted output back to the user via the originating platform","height":540,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[700,-80],"id":"a0f5beb1-3a49-45c0-bf3a-9e458cf5b80b","name":"Sticky Note5"},{"parameters":{"content":"## Each Agent will use same vector DB as knowledge base Below diagram showing way of training","height":140,"width":680,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-660,-240],"id":"506f9041-f7ef-4fa1-b474-0a8b5c8a82c4","name":"Sticky Note6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1220,1180],"id":"7bec3182-081f-40c5-aa07-b7daf39a1220","name":"Edit Fields2"},{"parameters":{"content":"## Function\nSplit the text into chunks of up to 500 characters, including line breaks.\n\n\n","height":620,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,960],"id":"ecd2ab9a-26d1-4e5b-a0d6-6635b2197144","name":"Sticky Note9"},{"parameters":{"content":"## Follow Below Instruction\nCurriculum content is first organized in an Excel or CSV file (e.g., course titles, modules, topics, objectives, FAQs).\nThis data is embedded using OpenAI’s Embedding API and stored in a vector database like Pinecone or Chroma.\nDuring chatbot interactions, the same vector database is queried to fetch relevant learning material or answers in real-time.\nThe retrieved curriculum data is then used to generate accurate responses to student queries or guide them through the learning path, including integration with LMS platforms or progress trackers if needed.\n\n","height":620,"width":980,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-680,960],"id":"1323c3df-10cb-4870-a5ff-7df4be2c1843","name":"Sticky Note10"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-440,1400],"id":"f1489d8d-f186-4455-af87-9c3f37d6d50f","name":"Embed data using open ai Embed","credentials":{"openAiApi":{"id":"jwg6bbbn5SPmRecv","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-540,1140],"id":"a83f9a47-1628-48f3-bdb1-cadb5d0d2517","name":"Embed Agent"},{"parameters":{"mode":"retrieve-as-tool","pineconeIndex":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.2,"position":[-40,1280],"id":"bf44cd2a-70de-474c-acfe-d8b08b816120","name":"Pinecone Vector Store1"},{"parameters":{"content":"## Vector DB\nCreated Vector DB to store data in dimenion","height":300,"width":340,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,1160],"id":"8e6634b2-1701-4c6f-82e0-cdb0d296f775","name":"Sticky Note11"},{"parameters":{"content":"## Embeded data Using OpenAI api","height":240,"width":460,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-660,1320],"id":"13e316fc-d7aa-49ce-8682-07e14db0a70e","name":"Sticky Note12"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,1180],"id":"04f07b5a-81f8-4bce-8331-9e745b23f66f","name":"Function to split and load data"},{"parameters":{"content":"## Load our courses in form of excel or teacher coursed sheets google sheet","height":620,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1240,960],"id":"dfba0080-010c-4d54-8802-9f3b9bddf107","name":"Sticky Note7"}],"connections":{"Webhook - Receive Request":{"main":[[{"node":"Supervisor Agent","type":"main","index":0}]]},"Supervisor Agent":{"main":[[{"node":"Specialized Agent Router","type":"main","index":0}]]},"Specialized Agent Router":{"main":[[{"node":"Assistant Agent","type":"main","index":0}],[{"node":"Reminder Agent","type":"main","index":0}],[{"node":"Goal Agent","type":"main","index":0}],[{"node":"Course Agent","type":"main","index":0}]]},"Assistant Agent":{"main":[[{"node":"Formatter Agent","type":"main","index":0}]]},"Reminder Agent":{"main":[[{"node":"Formatter Agent","type":"main","index":0}]]},"Goal Agent":{"main":[[{"node":"Formatter Agent","type":"main","index":0}]]},"Course Agent":{"main":[[{"node":"Formatter Agent","type":"main","index":0}]]},"Formatter Agent":{"main":[[{"node":"Respond to User","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Function to split and load data","type":"main","index":0}]]},"Embed data using open ai Embed":{"ai_languageModel":[[{"node":"Embed Agent","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"Embed Agent","type":"ai_tool","index":0}]]},"Function to split and load data":{"main":[[{"node":"Embed Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f94d0546-2631-4a09-a26c-fa1a955a96cf","triggerCount":0,"tags":[]}