workflows/h7wmMXmPAcB10wkX.json
{"createdAt":"2025-08-05T10:01:43.754Z","updatedAt":"2025-08-05T10:01:43.754Z","id":"h7wmMXmPAcB10wkX","name":"My workflow 14","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=You are an AI research assistant. Given a user query or topic, your job is to find the most relevant and up-to-date information from various sources like Reddit, Twitter/X, Google Trends, and other public forums. Focus on identifying:\n\n- Trending conversations\n- Frequently asked questions\n- Thought leadership posts\n- Controversial or viral takes\n- Latest statistics or data\n- Common pain points or user interests\n\nUser Query: {{ $json.output[0].userPrompt }}\n\nYour response should include a concise summary of key trends or talking points around the topic. Format the result in clean, readable bullet points or paragraphs. Avoid outdated info. Keep the tone professional and insight-driven. give me final key points in 500 characters","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[672,768],"id":"eb806d97-3595-4f48-822b-a3a819bbaca1","name":"Perplexity"},{"parameters":{"promptType":"define","text":"=You are a Google Trends and real-time search expert.\n\nYour task is to analyze the latest trending data and search interest from Google and summarize the most relevant and up-to-date information around the following topic:\n\nTopic: {{ $json.output[0].userPrompt }}\nPlease include:\n- Top related search queries\n- Trending questions people are asking\n- Regional interest if applicable\n- Recent news articles or developments\n- Popular keywords or hashtags from the topic\n\nThe output should be structured in a professional and clear manner using bullet points or concise sections. Ensure all insights are fresh and reflect current interest.\n\nRespond as if you are an assistant helping a content creator craft timely and trending social media content based on this data.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[704,1120],"id":"49f57e3e-91e0-445c-9c08-3c8b5b0188be","name":"Google Gemini"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1440,992],"id":"d6a1e255-2c50-4352-8b29-9e8ed2496944","name":"Groq Chat Model2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[608,960],"id":"a08912e9-36a7-43cd-b566-52beb9e72fc9","name":"OpenRouter Chat Model"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1248,768],"id":"10cd1d79-6362-473e-9841-b33109228b17","name":"Merge"},{"parameters":{"promptType":"define","text":"=You are an AI assistant specialized in optimizing user input for Reddit keyword search.\n\nYour task is to generate **one concise, relevant keyword or search phrase** that best matches the topic described below. This keyword will be used to search relevant discussions on Reddit.\n\nTopic:\n{{ $json.output[0].userPrompt }}\n\nRules:\n- Return **only the keyword or short search phrase**, no explanation.\n- Do **not** include punctuation, hashtags, or special characters.\n- Keep it under 4 words, preferably 1–3.\n- Must be highly relevant and searchable on Reddit.\n-  give me final key points in 500 characters.\nExample Input: \"How AI is transforming education\"\nExample Output: AI in education","options":{"systemMessage":"="}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[208,544],"id":"f09eab38-b8fb-474b-9f36-6a20be3f7c46","name":"Reedit Serch"},{"parameters":{"model":"google/gemini-flash-1.5","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[208,688],"id":"321bf024-174e-4bd5-88b1-2ce3d56f0e3a","name":"OpenRouter Chat Model1"},{"parameters":{"promptType":"define","text":"=You are a professional AI assistant specialized in creating engaging and concise LinkedIn posts.\n\nYour task:\n- Analyze the following multi-source content inputs about a specific topic.\n- Summarize it into **one high-quality LinkedIn post**.\n- Add **5–10 relevant and popular LinkedIn hashtags** at the end of the post.\n- Make the tone professional, insightful, and engaging for LinkedIn readers.\n- Keep the total post within **250 words**.\n- combined all queries make only one output post.\n\nInput Content:\n {{ $json.output }} \n\n// This includes aggregated info from Reddit, Perplexity, X (Twitter), Google Trends, etc.\n\nInstructions:\n- DO NOT mention any source names (e.g., Reddit, Perplexity) in the post.\n- Avoid generic statements; focus on informative and valuable insights.\n- Ensure the hashtags are tailored for LinkedIn and relevant to the topic.\n\nFormat:\n<Final LinkedIn Post>\n#hashtag1 #hashtag2 #hashtag3 ...","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1472,784],"id":"47883692-9f61-4c99-9404-fcb363915098","name":"Summarize Final Post"},{"parameters":{"url":"https://www.reddit.com/search.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.output }}"},{"name":"limit","value":"3"},{"name":"sort","value":"relevance"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,528],"id":"be8f2d49-2efc-4975-8011-f18b07e4507a","name":"Reedit Search"},{"parameters":{"jsCode":"const response = $input.first().json.data;\n\nconst selftexts = response.children.map(item => {\n  return {\n    json: {\n      selftext: item.data.selftext\n    }\n  };\n});\nlet combinedContent = selftexts.map(item => {\n  const data = item.json;\n  return data.selftext // Customize key names as per your source structure\n}).join('\\n\\n');\nreturn [\n  {\n    json: {\n      output: combinedContent\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,528],"id":"b80e1e76-c0ce-4d12-a8a3-211246367edf","name":"parser"},{"parameters":{"promptType":"define","text":"=You are a LinkedIn Post Content Generation AI assistant.\n\nYour task is to analyze the user’s request and classify it into one of the following categories:\n\t\n1.\tPost Only Request – The user wants only the text content of a LinkedIn post and does not mention or imply a request for an image.\n\nBehavior:\n\t•\tEnhance the user prompt for clarity, grammar, and tone while preserving the original intent. Always use the enhanced version when generating the response.\n\t\n\n{\n  \"userPrompt\": \"enhanced {{ $json.body.userPrompt }}\",\n  \"postRequest\": \"yes\",\n  \"imageRequest\": \"no\",\n\"chatSessionId\": {{ $json.body.chatSessionId }},\n\"fileUrl\": {{ $json.body.fileUrl }} || null\n}\n\nexample : \"create a post on ai agents\"\nthis is not image request, it is only postRequest.\n⚠️ Your response must be a valid JSON object only — do not include explanations, headings, or any extra formatting outside the JSON.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-944,752],"id":"11287885-b641-400a-9a9e-e937f60cd156","name":"enhance the query"},{"parameters":{"model":"google/gemini-flash-1.5","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[624,1328],"id":"14dddecb-e01c-436c-9733-5127e8ca335f","name":"OpenRouter Chat Model2"},{"parameters":{"httpMethod":"POST","path":"ai-linkedin-post","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1168,752],"id":"6bfdbd4b-6eb1-436d-b8fd-66a26dc9f196","name":"Webhook","webhookId":"86ee5caa-6a57-4466-8db3-72410a696678"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[2640,800],"id":"c62df816-d130-4e27-ab92-45d88a963110","name":"Respond to Webhook"},{"parameters":{"jsCode":"\nconst allArrays = $input.all();\n\nconsole.log($input.all(),'allArrays')\n\n// Flatten the arrays and map with index to prefix output1, output2, etc.\nconst mergedOutput = allArrays\n  .flat()\n  .map((item, index) => `output${index + 1}: ${item.json.output}`)\n  .join('\\n');\n\n// Final output array\nconst finalOutput = [{ output: mergedOutput }];\n\nconsole.log(finalOutput);\n\nreturn finalOutput;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,4288],"id":"25446447-dfe2-436c-af61-297a99df6f26","name":"combine","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bad86793-6366-46c3-9b8b-0ed2108c30d6","leftValue":"={{ $json.output[0].imageRequest }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"ad6628c1-7290-4822-a5ba-ea70f08738d3","leftValue":"={{ $json.output[0].postRequest }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,752],"id":"8794db6f-62ce-43f5-af79-a2e441138760","name":"only Post","alwaysOutputData":false},{"parameters":{"jsonSchemaExample":"[{\n\"userPrompt\": \"enhanced {{ $json.body.userPrompt }}\",\n\"postRequest\": false, \"imageRequest\": true,\n\"imagePrompt\":\"\",\n\"chatSessionId\":\"\",\n\"fileUrl\": \"\",\n\"fileAttached\":true\n}\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-800,976],"id":"c83cd1bc-24f2-49e8-ac96-3fbaf8358d82","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-912,976],"id":"11e90879-027e-479f-95a1-3c60600b6b21","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"huWwJLZvaQZYheKS","name":"OpenRouter account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appTUTNdpaQuo95sB","mode":"list","cachedResultName":"linkedInUser","cachedResultUrl":"https://airtable.com/appTUTNdpaQuo95sB"},"table":{"__rl":true,"value":"tblUFTFWHdaieMs7R","mode":"list","cachedResultName":"linkedin","cachedResultUrl":"https://airtable.com/appTUTNdpaQuo95sB/tblUFTFWHdaieMs7R"},"columns":{"mappingMode":"defineBelow","value":{"userId":"={{ $json.sub }}","expiryTime":"={{ $('GenerateAccessToken').last().json.expires_in }}","AccessToken":"={{ $('GenerateAccessToken').last().json.access_token }}","idToken":"={{ $('GenerateAccessToken').last().json.id_token }}","username":"={{ $json.name }}","userEmail":"={{ $json.email }}"},"matchingColumns":[],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"AccessToken","displayName":"AccessToken","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"expiryTime","displayName":"expiryTime","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"idToken","displayName":"idToken","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"userEmail","displayName":"userEmail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1136,3760],"id":"92ebb927-9593-4a97-bc36-40dec14160b6","name":"Airtable","disabled":true},{"parameters":{"method":"POST","url":"https://www.linkedin.com/oauth/v2/accessToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"grant_type","value":"authorization_code"},{"name":"code","value":"={{ $json.query.code }}"},{"name":"redirect_uri","value":"https://srinivasdev.app.n8n.cloud/webhook/linkedinRedirect"},{"name":"client_id","value":"86apq8duykx62t"},{"name":"client_secret","value":"WPL_AP1.PnlWR2IFNCsKIGv5.9QkQng=="}]},"sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n\"Content-Type\": \"application/x-www-form-urlencoded\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-928,3504],"id":"2c3dbfa3-d54f-4581-a2c6-b2f6c8b4404f","name":"GenerateAccessToken"},{"parameters":{"url":"https://api.linkedin.com/v2/userinfo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-704,3504],"id":"c88764eb-da5f-4ecf-be1f-4ef9934dd1c8","name":"GetUserId"},{"parameters":{"path":"linkedinRedirect","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1136,3504],"id":"2f9bd823-b74f-431c-a938-feb359fd3a8a","name":"Webhook1","webhookId":"b081d1ab-e347-4301-ae64-148799b4f656"},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"author\": \"urn:li:person:{{ $('MySQL5').item.json.channel_userId }}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": {{ $('PostLinkedAPI').item.json.body.postDetails.toJsonString() }}\n      },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,5344],"id":"be2377ba-6098-4df5-9b59-8091e359d0b5","name":"Post in LinkedIn"},{"parameters":{"table":{"__rl":true,"value":"user_post_suggestions","mode":"list","cachedResultName":"user_post_suggestions"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"userId","value":"c7ceec18-df12-481d-b7b8-0012950b2c69"},{"column":"postDetails","value":"={{ $json.output }}"},{"column":"chatSessionId","value":"={{ $('enhance the query').item.json.output[0].chatSessionId }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2192,1024],"id":"eddde5f7-4b53-406c-8e6e-acb1ed3f9ffd","name":"MySQL","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c96a307-24d4-4081-9d74-271f02c59491","leftValue":"={{ $('enhance the query').item.json.output[0].postRequest }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"39f66911-85a4-4af4-849d-4f3a6ea6705e","leftValue":"={{ $('enhance the query').item.json.output[0].imageRequest }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"0f33f6e1-54a6-402a-9246-6aecc54a7bdc","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1840,784],"id":"c8f237b3-e227-49ec-8dfb-4e7981a170b4","name":"if image and post"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17063efc-3a47-480c-a253-685ae2e08ccc","leftValue":"={{ $('Webhook').item.json.body.generateFromLinkedin }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,704],"id":"9a88001f-1965-47e3-a6d6-42a8794158f7","name":"FetchLinkedInPosts","alwaysOutputData":false},{"parameters":{"table":{"__rl":true,"value":"user_channels_tokens","mode":"list","cachedResultName":"user_channels_tokens"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"channel","value":"linkedin"},{"column":"accessToken","value":"={{ $('GenerateAccessToken').item.json.access_token }}"},{"column":"expiryDate","value":"={{ $('GenerateAccessToken').item.json.expires_in }}"},{"column":"idToken","value":"={{ $('GenerateAccessToken').item.json.id_token }}"},{"column":"userName","value":"={{ $json.name }}"},{"column":"userEmail","value":"={{ $json.email }}"},{"column":"userId","value":"=c7ceec18-df12-481d-b7b8-0012950b2c69"},{"column":"channel_userId","value":"={{ $json.sub }}"},{"column":"status","value":"connected"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-464,3504],"id":"768e6879-119e-466d-8b52-90962ba4c6f9","name":"MySQL1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-240,3504],"id":"15af19d1-517e-411a-baa3-7fa3dd4586cd","name":"Respond to Webhook3"},{"parameters":{"path":"getUserChannels","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1136,4032],"id":"591f7554-6fd3-4920-bee0-4188dcaa2764","name":"getUserChannels","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"user_channels_tokens","mode":"list","cachedResultName":"user_channels_tokens"},"where":{"values":[{"column":"userId","value":"={{ $json.query.userId }}"},{"column":"status","value":"connected"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-928,4032],"id":"b242a81d-d247-4af0-83f4-3e6c8808d66c","name":"MySQL2"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-704,4032],"id":"eba52e71-5b0b-423f-9f82-b231ba3d2a3a","name":"Respond to Webhook4"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"user_post_suggestions","mode":"list","cachedResultName":"user_post_suggestions"},"where":{"values":[{"column":"chatSessionId","value":"={{ $json.query.chatSessionId }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-928,4544],"id":"a9d7b4c7-d434-48c9-9ddc-fab00c069a10","name":"MySQL3"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-704,4544],"id":"e0165262-2025-4d55-8571-655d588e2e3d","name":"Respond to Webhook5"},{"parameters":{"path":"getUserAIPosts","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1136,4544],"id":"bc47ae83-86b9-4396-8aed-e3fc50a49d59","name":"getUserAIPosts","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"operation":"update","table":{"__rl":true,"value":"user_channels_tokens","mode":"list","cachedResultName":"user_channels_tokens"},"dataMode":"defineBelow","columnToMatchOn":"id","valueToMatchOn":"={{ $json.query.id }}","valuesToSend":{"values":[{"column":"status","value":"disconnected"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-928,4800],"id":"c0b4c59e-080e-4d6c-8862-193f30375d9a","name":"MySQL4"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-704,4800],"id":"356174a7-7a8d-4a1e-bb44-e22acf8e3a56","name":"Respond to Webhook6"},{"parameters":{"httpMethod":"PATCH","path":"disconnectChannel","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1136,4800],"id":"6215a587-6b83-4d21-a8bc-70e0a25d9dce","name":"disconnectChannel","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"user_channels_tokens","mode":"list","cachedResultName":"user_channels_tokens"},"where":{"values":[{"column":"userId","value":"={{ $json.body.userId }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-880,5088],"id":"a294d6ab-592b-458a-82ca-e9239aa16208","name":"MySQL5"},{"parameters":{"httpMethod":"POST","path":"PostLinkedAPI","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1136,5072],"id":"ba2873ba-5efa-4171-bb8a-b37655a23dc0","name":"PostLinkedAPI","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[768,5344],"id":"b5c37d39-4a4f-4124-ade2-cd5508ddc148","name":"Respond to Webhook7"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1136,5328],"id":"d15d1b71-46eb-49fe-8822-5bd45a953027","name":"Schedule Trigger"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"user_posts","mode":"list","cachedResultName":"user_posts"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-928,5328],"id":"5114d817-ac0e-4605-a94a-9faaeea87214","name":"MySQL6"},{"parameters":{"promptType":"define","text":"=you are a image generator agent\n\nuser input :  {{ $json.body.imagePrompt }}\n\nwhen user giving input modify this proper image prompt and give enhanced imagePrompt by output parser.\n\nuse chatSessionId: {{ $json.body.chatSessionId }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-928,3040],"id":"fa01c9dd-e66c-4e62-8b16-8446b175221d","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-960,3280],"id":"206b14cf-3eeb-4b1b-bb86-ffb3edfe9fad","name":"OpenRouter Chat Model4"},{"parameters":{"jsonSchemaExample":"[{\n\"imageRequest\": true,\n\"imagePrompt\":\"imageprompt\",\n  \"chatSessionId\":\"\"\n}\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-704,3280],"id":"5b6bfbbe-ed7f-4c2d-8cf6-b0f54aa5eb0d","name":"Structured Output Parser1"},{"parameters":{"httpMethod":"POST","path":"generate-image","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1136,3152],"id":"b8429809-dc15-47fb-82bc-efbd5fe8f13e","name":"generateImage","webhookId":"86ee5caa-6a57-4466-8db3-72410a696678"},{"parameters":{"method":"POST","url":"https://api-inference.huggingface.co/models/black-forest-labs/FLUX.1-schnell","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"image/jpeg"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=Depict {{ $json.output[0].imagePrompt }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-528,3072],"id":"b2d10a40-bd0d-4b43-9556-5a2ba40a2f05","name":"Image Generator2"},{"parameters":{"operation":"upload","bucketName":"sri-ai-test-bucket-51","fileName":"={{ $json.output[0].chatSessionId }}","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-288,3104],"id":"30f8c084-bc50-4f22-b848-839a8d7140a4","name":"S31"},{"parameters":{"jsCode":"const output = [];\n\nfor (const item of $input.all()) {\n  output.push({\n    imageUrl: `https://vzeppbheuluizjzinrvb.supabase.co/storage/v1/object/public/sri-ai-test-bucket-51/${item.json.output[0].chatSessionId}`\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,3152],"id":"08852b07-1369-4a7a-ab16-7fec70b4770a","name":"Code1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[672,3152],"id":"4b6fb234-e99e-497c-83f4-c5cc1ee2a3dc","name":"Respond to Webhook8"},{"parameters":{"assignments":{"assignments":[{"id":"78d9009a-3cd6-440a-b2cb-035d7989f3be","name":"output[0].chatSessionId","value":"={{ $('Image Generator2').item.json.output[0].chatSessionId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,3072],"id":"391125da-c021-4d36-9b73-a63ca4a0b4c4","name":"Edit Fields"},{"parameters":{"table":{"__rl":true,"value":"user_posts","mode":"list","cachedResultName":"user_posts"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"userId","value":"={{ $json.userId }}"},{"column":"postDetails","value":"={{ $('PostLinkedAPI').item.json.body.postDetails }}"},{"column":"status","value":"published"},{"column":"chatSessionId","value":"={{ $('PostLinkedAPI').item.json.body.chatSessionId }}"}]},"options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-656,5088],"id":"49377612-7e34-4720-8016-51d781a84c2e","name":"save to user posts"},{"parameters":{"table":{"__rl":true,"value":"posts_images","mode":"list","cachedResultName":"posts_images"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"postId","value":"={{ $json.data.insertId }}"},{"column":"filePathUrl","value":"={{ $('PostLinkedAPI').item.json.body.imageUrl }}"},{"column":"status","value":"0"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-416,5088],"id":"4a262479-57ef-4006-8753-b872ff941ad3","name":"MySQL7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64a484cf-f593-46f0-98ef-8b10a784131e","leftValue":"={{ $('PostLinkedAPI').item.json.body.imagePost }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,5088],"id":"d739c98b-7ce0-47c0-94cb-96b6737637e3","name":"If"},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/assets?action=registerUpload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('MySQL5').item.json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"registerUploadRequest\": {\n    \"recipes\": [\"urn:li:digitalmediaRecipe:feedshare-image\"],\n    \"owner\": \"urn:li:person:{{ $('MySQL5').item.json.channel_userId }}\",\n    \"serviceRelationships\": [\n      {\n        \"relationshipType\": \"OWNER\",\n        \"identifier\": \"urn:li:userGeneratedContent\"\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,4960],"id":"a151f67f-2cef-4cb1-9305-e48357de90ae","name":"HTTP Request"},{"parameters":{"method":"PUT","url":"={{ $json.value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'].uploadUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('MySQL5').item.json.accessToken }}"},{"name":"Content-Type","value":"image/jpeg"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,5008],"id":"ccb387db-8954-40f4-968b-b51891577ec6","name":"HTTP Request1"},{"parameters":{"url":"={{ $('PostLinkedAPI').item.json.body.imageUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"image/jpeg"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,4992],"id":"efdad3b2-2465-4900-9fe8-0aea673632f1","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('MySQL5').item.json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  author: `urn:li:person:${$('MySQL5').item.json.channel_userId}`,\n  lifecycleState: \"PUBLISHED\",\n  specificContent: {\n    \"com.linkedin.ugc.ShareContent\": {\n      shareCommentary: {\n        text: $('PostLinkedAPI').item.json.body.postDetails\n      },\n      shareMediaCategory: \"IMAGE\",\n      media: [\n        {\n          status: \"READY\",\n          media: $('HTTP Request2').item.json.value.asset,\n          title: {\n            text: \"Optional image title\"\n          }\n        }\n      ]\n    }\n  },\n  visibility: {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,4992],"id":"7d2f11c6-eeb0-44a4-9005-e5fe209b983b","name":"Post in LinkedIn1"},{"parameters":{"operation":"executeQuery","query":"SELECT up.id, up.postDetails, pi.filePathUrl as imageUrl, up.status, up.createdAt, up.updatedAt FROM user_posts up\nleft join posts_images pi on pi.postId = up.id\nwhere up.userid = '{{ $json.query.userId }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-896,5568],"id":"1eaead03-fcaf-44ac-afe5-e8c698c7f577","name":"MySQL8"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-688,5568],"id":"92824bdf-c804-4434-90c9-a6c288f955d3","name":"Respond to Webhook9"},{"parameters":{"path":"getUserPosts","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1120,5568],"id":"ebadd8d6-0b08-4591-896a-3cde5bf1b044","name":"getUserAIPosts1","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"httpMethod":"POST","path":"train-file-upload","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1520,2032],"id":"42b465c3-0144-4a56-a84b-113fb3512b32","name":"Webhook2","webhookId":"86ee5caa-6a57-4466-8db3-72410a696678"},{"parameters":{"promptType":"define","text":"=user Prompt : {{ $json.body.userPrompt }}\n\nfileUrl : {{ $json.body.fileUrl }}\n\nif fileUrl having the link then fileAttached is true\nyou are a helpful agent for extracting pdf","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-2000,1664],"id":"98d9763b-464f-4ec3-a1d1-b08b6e83f3be","name":"AI Agent1","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1968,1888],"id":"802c1543-529a-4793-b10a-de0375ba3677","name":"OpenRouter Chat Model5","disabled":true},{"parameters":{"jsonSchemaExample":"{\n\"userPrompt\":\"\",\n\"fileUrl\": \"\",\n\"fileAttached\":true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1840,1888],"id":"df53b1d8-a144-4f43-a30d-38f272e13668","name":"Structured Output Parser2","disabled":true},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"rippleai","mode":"list","cachedResultName":"rippleai"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[2240,2080],"id":"92107b6f-01b5-4354-aa93-e255bd5309d9","name":"Pinecone Vector Store","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2144,2224],"id":"1c429d72-30bc-4bb9-999b-79eb360a055d","name":"Default Data Loader","disabled":true},{"parameters":{"chunkSize":400,"chunkOverlap":40},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[2160,2448],"id":"fc336e68-3f26-4e84-8628-3425702d4a97","name":"Token Splitter","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1920,2272],"id":"9d9bb954-c297-44d5-b1ff-2634efe81657","name":"Embeddings Google Gemini","disabled":true},{"parameters":{"jsCode":"const data = $input.first().json.pages;\n\nreturn data.map(entry => ({\n  json: {\n    markdown: entry.markdown\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,2032],"id":"6aa6ffc7-d2e6-474b-a9b5-8e3c858d2807","name":"Code2"},{"parameters":{"promptType":"define","text":"=You are an AI assistant specializing in order information. Your primary goal is to accurately and efficiently retrieve order details for users and present them in a clear and helpful manner.\n\nuser prompt input : {{ $('Webhook2').item.json.body.userPrompt }}\nWhen you receive a user prompt:\n\nIdentify Order-Related Intent: First, determine if the userPrompt is related to an order (e.g., \"Where is my order?\", \"What's the status of order #12345?\", \"Can I get details about my recent purchase?\").\n\nInformation Extraction (if order-related): If the prompt is order-related, identify key pieces of information provided by the user, such as an order ID, customer name, date range, or product name.\n\nPinecone Retrieval (if order-related):\n\nUse the extracted information to formulate a precise query to the Pinecone vector database to retrieve the most relevant order data.\nPrioritize exact matches for order IDs if provided.\nIf multiple orders match the criteria, prepare to summarize or ask for clarification.\nLLM Enhancement & Response Generation (if order-related):\n\nOnce order data is retrieved from Pinecone, critically review it.\nEnhance the information using your language understanding capabilities. This includes:\nSummarizing complex order details into an easy-to-understand format.\nClarifying any ambiguous terms or codes found in the raw data.\nAnswering specific questions the user asked based on the retrieved data.\nProviding relevant next steps or contextual information (e.g., \"Your order has shipped and is expected on [Date]. You can track it here: [Link]\").\nFormatting the information clearly (e.g., using bullet points for multiple items, bolding key details).\nIf no information is found in Pinecone, or if the retrieved information is insufficient to answer the user's query, inform the user clearly and politely. Suggest they provide more specific details or check their input.\nNon-Order Related Queries: If the userPrompt is not related to order information, respond as a general helpful assistant. You can state that your primary function is order support but you will try your best to assist with other queries if possible, or politely guide them to the appropriate resource if their query is outside your capabilities.\n\nKey Instructions:\n\nAccuracy is paramount: Ensure the information provided is correct based on Pinecone data.\nClarity: Present information in a way that is easy for the user to understand. Avoid jargon where possible or explain it.\nEfficiency: Retrieve and present information as quickly as possible.\nHelpfulness: Go beyond just providing data; aim to resolve the user's underlying need regarding their order.\nPoliteness: Maintain a courteous and professional tone at all times.\nData Privacy: Do not ask for or store sensitive personal information beyond what is necessary to look up an order as indicated in the userPrompt.\nExample Interaction Flow:\n\nUserPrompt: \"Hey, what's up with my order #ORD98765?\"\nAI Action:\nIdentifies order-related intent.\nExtracts Order ID: \"ORD98765\".\nQueries Pinecone for \"ORD98765\".\nRetrieves data: { \"order_id\": \"ORD98765\", \"status\": \"shipped\", \"carrier\": \"UPS\", \"tracking_number\": \"1Z999AA10123456784\", \"estimated_delivery\": \"2025-05-30\", \"items\": [{\"name\": \"Blue Widget\", \"quantity\": 2}] }\nEnhances and responds: \"Your order #ORD98765 has been shipped via UPS with tracking number 1Z999AA10123456784. It's estimated to be delivered by May 30, 2025. The order contains 2 Blue Widgets. Would you like a direct link to the UPS tracking page?\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2384,2640],"id":"3772224a-d849-43d2-a1df-8d6b1c8799ba","name":"AI Agent2","disabled":true},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2368,2864],"id":"236f162a-8099-474d-874d-69ab468882e9","name":"Google Gemini Chat Model","disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolName":"ripple_ai_knowledgebase","toolDescription":"work with data","pineconeIndex":{"__rl":true,"value":"rippleai","mode":"list","cachedResultName":"rippleai"},"topK":1,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[2480,2864],"id":"e82660a6-bf07-4659-b8ce-24ca4d90f524","name":"Pinecone Vector Store1","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[2592,3072],"id":"6c100fe9-d853-4a97-a435-2d5213107f24","name":"Embeddings Google Gemini1","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\":true,\n  \"id\": \"{{ $('Crypto').item.json.uuid }}\",\n  \"filePath\": \"{{ $('Remodify Response').item.json.filePath }}\",\n\"fileType\":\"{{ $('Webhook2').item.json.body.fileType }}\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[1184,2032],"id":"97c7968c-9eb1-4d81-b57b-829233ffac0a","name":"Respond to Webhook10"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"={{ $json.pageContent }}","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2144,2640],"id":"1f633a8e-03b3-4683-bab1-6689dc5a0cac","name":"Aggregate","disabled":true},{"parameters":{"operation":"upload","bucketName":"sri-ai-test-bucket-51","fileName":"=","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-640,2032],"id":"0f07a13e-706e-44a4-a23c-541aa1754dfa","name":"S32"},{"parameters":{"action":"generate","dataPropertyName":"uuid"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-1296,2032],"id":"ef7bb4a1-0d40-4792-88f6-f160eb72641c","name":"Crypto"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"=file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1088,2032],"id":"fb141524-7926-43f7-8efa-f3005efc2f84","name":"Extract from File"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"={{ $('Crypto').item.json.uuid }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-864,2032],"id":"2b96c3cb-2d7a-4a07-95c6-52c5436d479c","name":"Convert to File"},{"parameters":{"table":{"__rl":true,"value":"file_manager","mode":"list","cachedResultName":"file_manager"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"userId","value":"={{ $('Webhook2').item.json.body.userId }}"},{"column":"filePath","value":"={{ $('Crypto').item.json.uuid }}"},{"column":"fileType","value":"={{ $('Webhook2').item.json.body.fileType }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-416,2032],"id":"4d204006-08a0-4ae7-b8be-27919d95cee5","name":"MySQL9"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"ripplelinkedin","mode":"list","cachedResultName":"ripplelinkedin"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[704,2032],"id":"e7bdcfe5-f9cb-4ab8-99f7-def6dea4cabf","name":"Qdrant Vector Store"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[688,2240],"id":"ffc0f410-c5a0-4c38-947e-f0a987d2bb59","name":"Embeddings Google Gemini2"},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"userId","value":"={{ $('Webhook2').item.json.body.userId }}"},{"name":"type","value":"userUploads"},{"name":"fileId","value":"={{ $('Crypto').item.json.uuid }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[880,2240],"id":"61218f18-9f5b-490d-9e19-ff64b411153b","name":"Default Data Loader1"},{"parameters":{"chunkSize":400,"chunkOverlap":40},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[944,2464],"id":"41ab7e66-a459-4cdb-8069-8ef98bfcccf8","name":"Token Splitter1"},{"parameters":{"promptType":"define","text":"=You are a helpful assistant for checking user input related data in qdrant vector db data collections.\n\nuser input :  {{ $json.output[0].userPrompt }}\n\nfetch max 1 result\n\nif qdrant results don't seem to be directly related to user input modify resultsFound to false.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[400,0],"id":"8335355b-af8b-4d19-8d1b-fea9ea2ef969","name":"AI Agent3"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[240,224],"id":"85891d42-652c-4f87-a92c-28143cba7cb2","name":"Google Gemini Chat Model1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"rippleai","toolDescription":"work with your data in qdrant collection","qdrantCollection":{"__rl":true,"value":"ripplelinkedin","mode":"list","cachedResultName":"ripplelinkedin"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[448,240],"id":"90f9867b-b1e2-47e9-9320-059cff959905","name":"Qdrant Vector Store1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[352,400],"id":"85b5ca15-075c-4563-974e-c2a972361b86","name":"Embeddings Google Gemini3"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YNt92rdPqRQwb6U4dsao40Sp9Kz76JCc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  model: \"mistral-ocr-latest\",\n  document: {\n    \"type\": \"image_url\",\n    \"image_url\": $json.filePath\n},\n  include_image_base64: true\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,1920],"id":"657eae88-374a-4f9c-90bc-e7526d57f28b","name":"IMAGE OCR"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YNt92rdPqRQwb6U4dsao40Sp9Kz76JCc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  model: \"mistral-ocr-latest\",\n  document: {\n    type: \"document_url\",\n    document_url: $('Remodify Response').item.json.filePath,\n},\n  include_image_base64: true\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,2128],"id":"11e8fb77-f0d3-4724-8394-9adaf1e57797","name":"PDF OCR"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d731affe-2a05-4c2e-86fd-4a84e518208b","leftValue":"={{ $json.fileType.split('/')[1] }}","rightValue":"jpg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"add80986-d6fe-4a76-b615-4ed6bdb18e57","leftValue":"={{ $json.fileType.split('/')[1] }}","rightValue":"jpeg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"47cbbe7c-8b7d-428d-88cc-d1d4f824e52d","leftValue":"={{ $json.fileType.split('/')[1] }}","rightValue":"png","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[32,2032],"id":"383bbc04-20da-4c64-a719-f28adc3d38d2","name":"Recongnize File Types"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nfor (const item of $input.all()) {\n  item.json.filePath = \"https://vzeppbheuluizjzinrvb.supabase.co/storage/v1/object/public/sri-ai-test-bucket-51/\" + $('Crypto').first().json.uuid;\n  item.json.fileType = $('Webhook2').first().json.body.fileType\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,2032],"id":"7560c53b-813f-4838-991d-ec9d76348db5","name":"Remodify Response"},{"parameters":{"jsonSchemaExample":"{\n\t\"output\": \"\",\n\t\"resultsFound\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[752,240],"id":"c5d61a5a-7080-425c-a6a2-f6bf350833bc","name":"Structured Output Parser3"},{"parameters":{"assignments":{"assignments":[{"id":"2b70ef39-8adc-47b2-8b58-108fd77362d4","name":"knowledge_base","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,208],"id":"8eddc7e1-e0b3-4b0d-a0a5-e4c276295e5a","name":"rename field"},{"parameters":{"errorMessage":"Error"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2640,1024],"id":"4d30ba3e-608d-420e-be98-1f520a56b35d","name":"Stop and Error"},{"parameters":{"promptType":"define","text":"=You are an AI research assistant. Given a user query or topic, your job is to find the most relevant and up-to-date information from various sources like Reddit, Twitter/X, Google Trends, and other public forums. Focus on identifying:\n\n- Trending conversations\n- Frequently asked questions\n- Thought leadership posts\n- Controversial or viral takes\n- Latest statistics or data\n- Common pain points or user interests\n\nUser Query: {{ $json.output[0].userPrompt }}\n\nYour response should include a concise summary of key trends or talking points around the topic. Format the result in clean, readable bullet points or paragraphs. Avoid outdated info. Keep the tone professional and insight-driven. give me final key points in 500 characters","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-3680,-4544],"id":"8a34bcc7-c2d2-4ca7-9f19-dd31731dbac6","name":"Perplexity1"},{"parameters":{"promptType":"define","text":"=You are a Google Trends and real-time search expert.\n\nYour task is to analyze the latest trending data and search interest from Google and summarize the most relevant and up-to-date information around the following topic:\n\nTopic: {{ $json.output[0].userPrompt }}\nPlease include:\n- Top related search queries\n- Trending questions people are asking\n- Regional interest if applicable\n- Recent news articles or developments\n- Popular keywords or hashtags from the topic\n\nThe output should be structured in a professional and clear manner using bullet points or concise sections. Ensure all insights are fresh and reflect current interest.\n\nRespond as if you are an assistant helping a content creator craft timely and trending social media content based on this data.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-3648,-4176],"id":"91394f21-a576-4605-a6e7-64beced485f9","name":"Google Gemini1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-2912,-4320],"id":"cd69cfb8-845f-466f-b7da-9e53b00fdc7f","name":"Groq Chat Model"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-3744,-4336],"id":"e1532764-7e2e-4cf5-8cee-c9f3669953c4","name":"OpenRouter Chat Model6"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-3104,-4544],"id":"1d539ae9-2f72-483b-8784-585174f36be6","name":"Merge1"},{"parameters":{"promptType":"define","text":"=You are an AI assistant specialized in optimizing user input for Reddit keyword search.\n\nYour task is to generate **one concise, relevant keyword or search phrase** that best matches the topic described below. This keyword will be used to search relevant discussions on Reddit.\n\nTopic:\n{{ $json.output[0].userPrompt }}\n\nRules:\n- Return **only the keyword or short search phrase**, no explanation.\n- Do **not** include punctuation, hashtags, or special characters.\n- Keep it under 4 words, preferably 1–3.\n- Must be highly relevant and searchable on Reddit.\n-  give me final key points in 500 characters.\nExample Input: \"How AI is transforming education\"\nExample Output: AI in education","options":{"systemMessage":"="}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-4144,-4752],"id":"5a10b7a8-7390-4a8d-baaf-b562b595c3e0","name":"Reedit Serch1"},{"parameters":{"model":"google/gemini-flash-1.5","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-4144,-4624],"id":"5a370aef-7382-426f-a67d-cb5485ab8b4d","name":"OpenRouter Chat Model7"},{"parameters":{"promptType":"define","text":"=You are a professional AI assistant specialized in creating engaging and concise LinkedIn posts.\n\nYour task:\n- Analyze the following multi-source content inputs about a specific topic.\n- Summarize it into **one high-quality LinkedIn post**.\n- Add **5–10 relevant and popular LinkedIn hashtags** at the end of the post.\n- Make the tone professional, insightful, and engaging for LinkedIn readers.\n- Keep the total post within **250 words**.\n- combined all queries make only one output post.\n\nInput Content:\n {{ $json.output }} \n\n// This includes aggregated info from Reddit, Perplexity, X (Twitter), Google Trends, etc.\n\nInstructions:\n- DO NOT mention any source names (e.g., Reddit, Perplexity) in the post.\n- Avoid generic statements; focus on informative and valuable insights.\n- Ensure the hashtags are tailored for LinkedIn and relevant to the topic.\n\nFormat:\n<Final LinkedIn Post>\n#hashtag1 #hashtag2 #hashtag3 ...","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-2880,-4512],"id":"51fe171e-daa3-4c83-a6cf-647ee76cbb24","name":"Summarize Final Post1"},{"parameters":{"url":"https://www.reddit.com/search.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.output }}"},{"name":"limit","value":"3"},{"name":"sort","value":"relevance"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3728,-4784],"id":"7c8757e4-9fc9-463a-a15e-974e80438793","name":"Reedit Search1"},{"parameters":{"jsCode":"const response = $input.first().json.data;\n\nconst selftexts = response.children.map(item => {\n  return {\n    json: {\n      selftext: item.data.selftext\n    }\n  };\n});\nlet combinedContent = selftexts.map(item => {\n  const data = item.json;\n  return data.selftext // Customize key names as per your source structure\n}).join('\\n\\n');\nreturn [\n  {\n    json: {\n      output: combinedContent\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3472,-4784],"id":"39ccffd8-81fa-4ad9-baa3-145c572f79d4","name":"parser1"},{"parameters":{"promptType":"define","text":"=You are a LinkedIn Post Content Generation AI assistant.\n\nYour task is to analyze the user’s request and classify it into one of the following categories:\n\t\n1.\tPost Only Request – The user wants only the text content of a LinkedIn post and does not mention or imply a request for an image.\n\nBehavior:\n\t•\tEnhance the user prompt for clarity, grammar, and tone while preserving the original intent. Always use the enhanced version when generating the response.\n\t\n\n{\n  \"userPrompt\": \"enhanced {{ $json.body.userPrompt }}\",\n  \"postRequest\": \"yes\",\n  \"imageRequest\": \"no\",\n\"chatSessionId\": {{ $json.body.chatSessionId }},\n\"fileUrl\": {{ $json.body.fileUrl }} || null\n}\n\nexample : \"create a post on ai agents\"\nthis is not image request, it is only postRequest.\n⚠️ Your response must be a valid JSON object only — do not include explanations, headings, or any extra formatting outside the JSON.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-5280,-4544],"id":"2c74e98a-baab-4e38-9643-0d82bff46cd5","name":"enhance the query1"},{"parameters":{"model":"google/gemini-flash-1.5","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-3728,-3984],"id":"965031eb-10cb-43ff-ad51-e7867f8c264d","name":"OpenRouter Chat Model8"},{"parameters":{"httpMethod":"POST","path":"ai-linkedin-post","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5504,-4544],"id":"d2d90e63-6e9a-4247-87b3-2e87d14ddcd3","name":"Webhook3","webhookId":"86ee5caa-6a57-4466-8db3-72410a696678"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1712,-4496],"id":"e3c44103-52ff-4be4-9056-196f23a23a9c","name":"Respond to Webhook1"},{"parameters":{"jsCode":"\nconst allArrays = $input.all();\n\nconsole.log($input.all(),'allArrays')\n\n// Flatten the arrays and map with index to prefix output1, output2, etc.\nconst mergedOutput = allArrays\n  .flat()\n  .map((item, index) => `output${index + 1}: ${item.json.output}`)\n  .join('\\n');\n\n// Final output array\nconst finalOutput = [{ output: mergedOutput }];\n\nconsole.log(finalOutput);\n\nreturn finalOutput;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5488,-1024],"id":"6f563475-e6c5-4040-bbf4-b1e1344fcfbf","name":"combine1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bad86793-6366-46c3-9b8b-0ed2108c30d6","leftValue":"={{ $json.output[0].imageRequest }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"ad6628c1-7290-4822-a5ba-ea70f08738d3","leftValue":"={{ $json.output[0].postRequest }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4912,-4544],"id":"44f179c2-3e20-42fa-82b7-a0717a6b441a","name":"only Post1","alwaysOutputData":false},{"parameters":{"jsonSchemaExample":"[{\n\"userPrompt\": \"enhanced {{ $json.body.userPrompt }}\",\n\"postRequest\": false, \"imageRequest\": true,\n\"imagePrompt\":\"\",\n\"chatSessionId\":\"\",\n\"fileUrl\": \"\",\n\"fileAttached\":true\n}\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-5136,-4320],"id":"3adf37b6-5556-4bd9-9d81-17b272765822","name":"Structured Output Parser4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-5264,-4320],"id":"2b8d32bd-3499-44b2-adde-0c248d5b97d2","name":"OpenRouter Chat Model9"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appTUTNdpaQuo95sB","mode":"list","cachedResultName":"linkedInUser","cachedResultUrl":"https://airtable.com/appTUTNdpaQuo95sB"},"table":{"__rl":true,"value":"tblUFTFWHdaieMs7R","mode":"list","cachedResultName":"linkedin","cachedResultUrl":"https://airtable.com/appTUTNdpaQuo95sB/tblUFTFWHdaieMs7R"},"columns":{"mappingMode":"defineBelow","value":{"userId":"={{ $json.sub }}","expiryTime":"={{ $('GenerateAccessToken1').last().json.expires_in }}","AccessToken":"={{ $('GenerateAccessToken1').last().json.access_token }}","idToken":"={{ $('GenerateAccessToken1').last().json.id_token }}","username":"={{ $json.name }}","userEmail":"={{ $json.email }}"},"matchingColumns":[],"schema":[{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"AccessToken","displayName":"AccessToken","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"expiryTime","displayName":"expiryTime","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"idToken","displayName":"idToken","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"userEmail","displayName":"userEmail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-5488,-1536],"id":"9112c980-d614-4094-b80a-2748eb5c4ebc","name":"Airtable1","disabled":true},{"parameters":{"method":"POST","url":"https://www.linkedin.com/oauth/v2/accessToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"grant_type","value":"authorization_code"},{"name":"code","value":"={{ $json.query.code }}"},{"name":"redirect_uri","value":"https://srinivasdev.app.n8n.cloud/webhook/linkedinRedirect"},{"name":"client_id","value":"86apq8duykx62t"},{"name":"client_secret","value":"WPL_AP1.PnlWR2IFNCsKIGv5.9QkQng=="}]},"sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n\"Content-Type\": \"application/x-www-form-urlencoded\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5264,-1792],"id":"3abeadd6-3e0f-4ed2-ba42-8dcb991f0e61","name":"GenerateAccessToken1"},{"parameters":{"url":"https://api.linkedin.com/v2/userinfo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5040,-1792],"id":"54b73c0d-2b28-4c1f-b19d-08c5c5b4391d","name":"GetUserId1"},{"parameters":{"path":"linkedinRedirect","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5488,-1792],"id":"d2f4f022-742f-4af2-855b-c63a46638839","name":"Webhook4","webhookId":"b081d1ab-e347-4301-ae64-148799b4f656"},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"author\": \"urn:li:person:{{ $('MySQL15').item.json.channel_userId }}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": {{ $('PostLinkedAPI1').item.json.body.postDetails.toJsonString() }}\n      },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3904,48],"id":"f1855b19-c46c-4aad-88cb-feca444c2a23","name":"Post in LinkedIn2"},{"parameters":{"table":{"__rl":true,"value":"user_post_suggestions","mode":"list","cachedResultName":"user_post_suggestions"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"userId","value":"c7ceec18-df12-481d-b7b8-0012950b2c69"},{"column":"postDetails","value":"={{ $json.output }}"},{"column":"chatSessionId","value":"={{ $('enhance the query1').item.json.output[0].chatSessionId }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2160,-4272],"id":"71c2b477-6c20-4c0b-a616-2e521947788f","name":"MySQL10","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c96a307-24d4-4081-9d74-271f02c59491","leftValue":"={{ $('enhance the query1').item.json.output[0].postRequest }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"39f66911-85a4-4af4-849d-4f3a6ea6705e","leftValue":"={{ $('enhance the query1').item.json.output[0].imageRequest }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"0f33f6e1-54a6-402a-9246-6aecc54a7bdc","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2512,-4512],"id":"d64bdbfb-bcf7-4329-8bb9-065badef9d31","name":"if image and post1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17063efc-3a47-480c-a253-685ae2e08ccc","leftValue":"={{ $('Webhook3').item.json.body.generateFromLinkedin }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4624,-4592],"id":"2908c557-f19c-4574-8984-f60b177bd9b7","name":"FetchLinkedInPosts1","alwaysOutputData":false},{"parameters":{"table":{"__rl":true,"value":"user_channels_tokens","mode":"list","cachedResultName":"user_channels_tokens"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"channel","value":"linkedin"},{"column":"accessToken","value":"={{ $('GenerateAccessToken1').item.json.access_token }}"},{"column":"expiryDate","value":"={{ $('GenerateAccessToken1').item.json.expires_in }}"},{"column":"idToken","value":"={{ $('GenerateAccessToken1').item.json.id_token }}"},{"column":"userName","value":"={{ $json.name }}"},{"column":"userEmail","value":"={{ $json.email }}"},{"column":"userId","value":"=c7ceec18-df12-481d-b7b8-0012950b2c69"},{"column":"channel_userId","value":"={{ $json.sub }}"},{"column":"status","value":"connected"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-4800,-1792],"id":"5f5bfbb1-c195-441e-9e77-41090d0710d0","name":"MySQL11"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-4592,-1792],"id":"40bc88bf-d47e-45d6-bddf-4cfb94a1d0da","name":"Respond to Webhook11"},{"parameters":{"path":"getUserChannels","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5488,-1280],"id":"d2d8cb21-ddcc-4364-bf5f-aeacf791cda4","name":"getUserChannels1","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"user_channels_tokens","mode":"list","cachedResultName":"user_channels_tokens"},"where":{"values":[{"column":"userId","value":"={{ $json.query.userId }}"},{"column":"status","value":"connected"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-5264,-1280],"id":"895fba19-ee87-495d-b357-531b3b1a2f91","name":"MySQL12"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-5040,-1280],"id":"908f3584-049b-4e32-8332-d2d470457dbd","name":"Respond to Webhook12"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"user_post_suggestions","mode":"list","cachedResultName":"user_post_suggestions"},"where":{"values":[{"column":"chatSessionId","value":"={{ $json.query.chatSessionId }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-5264,-752],"id":"17ca763b-3f0b-4456-a3bf-126209633476","name":"MySQL13"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-5040,-752],"id":"99618366-3d3b-4fce-adbc-8afff87709d7","name":"Respond to Webhook13"},{"parameters":{"path":"getUserAIPosts","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5488,-752],"id":"ade83336-e355-4386-97e0-02e542f4a4bb","name":"getUserAIPosts2","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"operation":"update","table":{"__rl":true,"value":"user_channels_tokens","mode":"list","cachedResultName":"user_channels_tokens"},"dataMode":"defineBelow","columnToMatchOn":"id","valueToMatchOn":"={{ $json.query.id }}","valuesToSend":{"values":[{"column":"status","value":"disconnected"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-5264,-496],"id":"28823559-560f-476b-81fb-14be3be8b366","name":"MySQL14"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-5040,-496],"id":"6112055e-81e4-416d-8cd5-e4042fa82d11","name":"Respond to Webhook14"},{"parameters":{"httpMethod":"PATCH","path":"disconnectChannel","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5488,-496],"id":"8c984277-346c-4a90-a1d5-013e84357be8","name":"disconnectChannel1","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"user_channels_tokens","mode":"list","cachedResultName":"user_channels_tokens"},"where":{"values":[{"column":"userId","value":"={{ $json.body.userId }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-5232,-224],"id":"c7b68fb2-ddad-4e9e-a8e2-f37703833711","name":"MySQL15"},{"parameters":{"httpMethod":"POST","path":"PostLinkedAPI","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5488,-240],"id":"f979a0be-99d2-4961-bf96-f3b459a801b1","name":"PostLinkedAPI1","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-3584,48],"id":"2d4b44de-451d-4cc8-8ba0-d4b73cc2b3b7","name":"Respond to Webhook15"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5488,32],"id":"8d5c07a7-fed3-438f-9eeb-5f6b25a36e44","name":"Schedule Trigger1"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"user_posts","mode":"list","cachedResultName":"user_posts"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-5264,32],"id":"0acbc2d3-1ac3-4fc5-820f-0b75e4334c96","name":"MySQL16"},{"parameters":{"promptType":"define","text":"=you are a image generator agent\n\nuser input :  {{ $json.body.imagePrompt }}\n\nwhen user giving input modify this proper image prompt and give enhanced imagePrompt by output parser.\n\nuse chatSessionId: {{ $json.body.chatSessionId }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-5264,-2256],"id":"274655aa-8d0a-4012-b7cd-dcde13c91e21","name":"AI Agent4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-5312,-2016],"id":"b18b4cd4-25fd-4515-8688-bd3e4fbbcd8a","name":"OpenRouter Chat Model10"},{"parameters":{"jsonSchemaExample":"[{\n\"imageRequest\": true,\n\"imagePrompt\":\"imageprompt\",\n  \"chatSessionId\":\"\"\n}\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-5040,-2016],"id":"54a20c5e-ebc9-4e95-8b65-a74141085706","name":"Structured Output Parser5"},{"parameters":{"httpMethod":"POST","path":"generate-image","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5488,-2160],"id":"69cf781c-d6cc-454d-b00e-d281e0ce3ecc","name":"generateImage1","webhookId":"86ee5caa-6a57-4466-8db3-72410a696678"},{"parameters":{"method":"POST","url":"https://api-inference.huggingface.co/models/black-forest-labs/FLUX.1-schnell","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"image/jpeg"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=Depict {{ $json.output[0].imagePrompt }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4864,-2240],"id":"046266e8-c447-4479-8358-8d2eca1cbc62","name":"Image Generator"},{"parameters":{"operation":"upload","bucketName":"sri-ai-test-bucket-51","fileName":"={{ $json.output[0].chatSessionId }}","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-4624,-2192],"id":"8e0ca056-80f2-46a8-b712-f21321657b42","name":"S3"},{"parameters":{"jsCode":"const output = [];\n\nfor (const item of $input.all()) {\n  output.push({\n    imageUrl: `https://vzeppbheuluizjzinrvb.supabase.co/storage/v1/object/public/sri-ai-test-bucket-51/${item.json.output[0].chatSessionId}`\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3984,-2160],"id":"a8f45f57-304f-4d32-85b3-185dff4b45bf","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-3680,-2160],"id":"2b677620-2276-48ff-9dc0-94962f022545","name":"Respond to Webhook16"},{"parameters":{"assignments":{"assignments":[{"id":"78d9009a-3cd6-440a-b2cb-035d7989f3be","name":"output[0].chatSessionId","value":"={{ $('Image Generator').item.json.output[0].chatSessionId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4320,-2240],"id":"dbfd6af0-eb0d-45d1-b243-3debf6d5a487","name":"Edit Fields1"},{"parameters":{"table":{"__rl":true,"value":"user_posts","mode":"list","cachedResultName":"user_posts"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"userId","value":"={{ $json.userId }}"},{"column":"postDetails","value":"={{ $('PostLinkedAPI1').item.json.body.postDetails }}"},{"column":"status","value":"published"},{"column":"chatSessionId","value":"={{ $('PostLinkedAPI1').item.json.body.chatSessionId }}"}]},"options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-5008,-224],"id":"b028a615-ad75-4a83-a735-d834def51ccc","name":"save to user posts1"},{"parameters":{"table":{"__rl":true,"value":"posts_images","mode":"list","cachedResultName":"posts_images"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"postId","value":"={{ $json.data.insertId }}"},{"column":"filePathUrl","value":"={{ $('PostLinkedAPI1').item.json.body.imageUrl }}"},{"column":"status","value":"0"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-4768,-224],"id":"f931a39c-fcbd-4a13-a14a-0e37435affa5","name":"MySQL17"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64a484cf-f593-46f0-98ef-8b10a784131e","leftValue":"={{ $('PostLinkedAPI1').item.json.body.imagePost }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4544,-224],"id":"1b684055-1249-4bd7-8cf0-08361b6fcfed","name":"If1"},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/assets?action=registerUpload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('MySQL15').item.json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"registerUploadRequest\": {\n    \"recipes\": [\"urn:li:digitalmediaRecipe:feedshare-image\"],\n    \"owner\": \"urn:li:person:{{ $('MySQL15').item.json.channel_userId }}\",\n    \"serviceRelationships\": [\n      {\n        \"relationshipType\": \"OWNER\",\n        \"identifier\": \"urn:li:userGeneratedContent\"\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4288,-336],"id":"07b68b63-adbe-4cf3-8c09-83e26ce95068","name":"HTTP Request3"},{"parameters":{"method":"PUT","url":"={{ $json.value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'].uploadUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('MySQL15').item.json.accessToken }}"},{"name":"Content-Type","value":"image/jpeg"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3888,-304],"id":"3af7eb25-8c5c-4b04-9f1b-c7ea7e5c9a49","name":"HTTP Request4"},{"parameters":{"url":"={{ $('PostLinkedAPI1').item.json.body.imageUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"image/jpeg"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4064,-320],"id":"eecf7b7e-3729-4599-8a44-e0e188f9da84","name":"HTTP Request5"},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('MySQL15').item.json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  author: `urn:li:person:${$('MySQL15').item.json.channel_userId}`,\n  lifecycleState: \"PUBLISHED\",\n  specificContent: {\n    \"com.linkedin.ugc.ShareContent\": {\n      shareCommentary: {\n        text: $('PostLinkedAPI1').item.json.body.postDetails\n      },\n      shareMediaCategory: \"IMAGE\",\n      media: [\n        {\n          status: \"READY\",\n          media: $('HTTP Request5').item.json.value.asset,\n          title: {\n            text: \"Optional image title\"\n          }\n        }\n      ]\n    }\n  },\n  visibility: {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3600,-320],"id":"abb8a494-e0d0-4592-b115-1859a761fff1","name":"Post in LinkedIn3"},{"parameters":{"operation":"executeQuery","query":"SELECT up.id, up.postDetails, pi.filePathUrl as imageUrl, up.status, up.createdAt, up.updatedAt FROM user_posts up\nleft join posts_images pi on pi.postId = up.id\nwhere up.userid = '{{ $json.query.userId }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-5248,272],"id":"5d214713-38bb-4a17-8d75-9fc03ea0fe4d","name":"MySQL18"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-5024,272],"id":"1ff57c8d-9922-4988-ab8c-c5d6957bd754","name":"Respond to Webhook17"},{"parameters":{"path":"getUserPosts","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5472,272],"id":"c769299a-69d0-43ed-95a7-160804f58997","name":"getUserAIPosts3","webhookId":"00ab94c3-77d3-4ce9-8b03-6b1d28ec7250"},{"parameters":{"httpMethod":"POST","path":"train-file-upload","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5872,-3280],"id":"7f000009-3f24-4fe0-b7a3-c84f2e6b183b","name":"Webhook5","webhookId":"86ee5caa-6a57-4466-8db3-72410a696678"},{"parameters":{"promptType":"define","text":"=user Prompt : {{ $json.body.userPrompt }}\n\nfileUrl : {{ $json.body.fileUrl }}\n\nif fileUrl having the link then fileAttached is true\nyou are a helpful agent for extracting pdf","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-6352,-3632],"id":"2d717dca-51ba-46f4-bb7f-08788ca99be6","name":"AI Agent5","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-6304,-3424],"id":"01f21e2e-97b7-41ca-8a4a-c1cc140bf250","name":"OpenRouter Chat Model11","disabled":true},{"parameters":{"jsonSchemaExample":"{\n\"userPrompt\":\"\",\n\"fileUrl\": \"\",\n\"fileAttached\":true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-6192,-3424],"id":"b0097ddd-49a5-49bc-9beb-2359efb6b55c","name":"Structured Output Parser6","disabled":true},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"rippleai","mode":"list","cachedResultName":"rippleai"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[-2112,-3216],"id":"079121e1-180e-4267-8105-6b4ec47c749e","name":"Pinecone Vector Store2","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-2208,-3072],"id":"37491999-f953-4ad1-abc9-b993bf5a8893","name":"Default Data Loader2","disabled":true},{"parameters":{"chunkSize":400,"chunkOverlap":40},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[-2192,-2864],"id":"ddbc3160-6b47-44de-b838-dc72828d8300","name":"Token Splitter2","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-2432,-3040],"id":"2b6d5d4c-9026-4b22-ad33-6aec77e023fb","name":"Embeddings Google Gemini4","disabled":true},{"parameters":{"jsCode":"const data = $input.first().json.pages;\n\nreturn data.map(entry => ({\n  json: {\n    markdown: entry.markdown\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3888,-3280],"id":"283efa4e-257e-4740-9370-65c1ac2616dd","name":"Code3"},{"parameters":{"promptType":"define","text":"=You are an AI assistant specializing in order information. Your primary goal is to accurately and efficiently retrieve order details for users and present them in a clear and helpful manner.\n\nuser prompt input : {{ $('Webhook5').item.json.body.userPrompt }}\nWhen you receive a user prompt:\n\nIdentify Order-Related Intent: First, determine if the userPrompt is related to an order (e.g., \"Where is my order?\", \"What's the status of order #12345?\", \"Can I get details about my recent purchase?\").\n\nInformation Extraction (if order-related): If the prompt is order-related, identify key pieces of information provided by the user, such as an order ID, customer name, date range, or product name.\n\nPinecone Retrieval (if order-related):\n\nUse the extracted information to formulate a precise query to the Pinecone vector database to retrieve the most relevant order data.\nPrioritize exact matches for order IDs if provided.\nIf multiple orders match the criteria, prepare to summarize or ask for clarification.\nLLM Enhancement & Response Generation (if order-related):\n\nOnce order data is retrieved from Pinecone, critically review it.\nEnhance the information using your language understanding capabilities. This includes:\nSummarizing complex order details into an easy-to-understand format.\nClarifying any ambiguous terms or codes found in the raw data.\nAnswering specific questions the user asked based on the retrieved data.\nProviding relevant next steps or contextual information (e.g., \"Your order has shipped and is expected on [Date]. You can track it here: [Link]\").\nFormatting the information clearly (e.g., using bullet points for multiple items, bolding key details).\nIf no information is found in Pinecone, or if the retrieved information is insufficient to answer the user's query, inform the user clearly and politely. Suggest they provide more specific details or check their input.\nNon-Order Related Queries: If the userPrompt is not related to order information, respond as a general helpful assistant. You can state that your primary function is order support but you will try your best to assist with other queries if possible, or politely guide them to the appropriate resource if their query is outside your capabilities.\n\nKey Instructions:\n\nAccuracy is paramount: Ensure the information provided is correct based on Pinecone data.\nClarity: Present information in a way that is easy for the user to understand. Avoid jargon where possible or explain it.\nEfficiency: Retrieve and present information as quickly as possible.\nHelpfulness: Go beyond just providing data; aim to resolve the user's underlying need regarding their order.\nPoliteness: Maintain a courteous and professional tone at all times.\nData Privacy: Do not ask for or store sensitive personal information beyond what is necessary to look up an order as indicated in the userPrompt.\nExample Interaction Flow:\n\nUserPrompt: \"Hey, what's up with my order #ORD98765?\"\nAI Action:\nIdentifies order-related intent.\nExtracts Order ID: \"ORD98765\".\nQueries Pinecone for \"ORD98765\".\nRetrieves data: { \"order_id\": \"ORD98765\", \"status\": \"shipped\", \"carrier\": \"UPS\", \"tracking_number\": \"1Z999AA10123456784\", \"estimated_delivery\": \"2025-05-30\", \"items\": [{\"name\": \"Blue Widget\", \"quantity\": 2}] }\nEnhances and responds: \"Your order #ORD98765 has been shipped via UPS with tracking number 1Z999AA10123456784. It's estimated to be delivered by May 30, 2025. The order contains 2 Blue Widgets. Would you like a direct link to the UPS tracking page?\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1968,-2656],"id":"88674a02-69f7-4868-acea-6dad35bffb2a","name":"AI Agent6","disabled":true},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1984,-2432],"id":"b3d881d2-c477-4302-b3d3-5fc625226bcc","name":"Google Gemini Chat Model2","disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolName":"ripple_ai_knowledgebase","toolDescription":"work with data","pineconeIndex":{"__rl":true,"value":"rippleai","mode":"list","cachedResultName":"rippleai"},"topK":1,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[-1872,-2432],"id":"68b68295-c2ca-456f-881f-5b7d7b14e95f","name":"Pinecone Vector Store3","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-1760,-2240],"id":"7156ce11-5fd4-4e7c-817e-9e61e96d65f7","name":"Embeddings Google Gemini5","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\":true,\n  \"id\": \"{{ $('Crypto1').item.json.uuid }}\",\n  \"filePath\": \"{{ $('Remodify Response1').item.json.filePath }}\",\n\"fileType\":\"{{ $('Webhook5').item.json.body.fileType }}\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-3168,-3280],"id":"8347917b-fe40-4bcb-b4e9-f82b7fc4b7d2","name":"Respond to Webhook18"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"={{ $json.pageContent }}","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2208,-2656],"id":"a459d585-a5f6-4f76-a9eb-d2e8279c5252","name":"Aggregate1","disabled":true},{"parameters":{"operation":"upload","bucketName":"sri-ai-test-bucket-51","fileName":"=","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-4992,-3280],"id":"826bbebb-007f-423c-b213-36674f8f2da5","name":"S33"},{"parameters":{"action":"generate","dataPropertyName":"uuid"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-5648,-3280],"id":"a2a46667-f5c2-4c51-8c94-1a92bd5776ed","name":"Crypto1"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"=file","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-5424,-3280],"id":"6271bf18-20b2-4511-a9e2-a9b819833f34","name":"Extract from File1"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"={{ $('Crypto1').item.json.uuid }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-5200,-3280],"id":"a03d4b03-a1d8-4279-9ba5-597f50b925f0","name":"Convert to File1"},{"parameters":{"table":{"__rl":true,"value":"file_manager","mode":"list","cachedResultName":"file_manager"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"userId","value":"={{ $('Webhook5').item.json.body.userId }}"},{"column":"filePath","value":"={{ $('Crypto1').item.json.uuid }}"},{"column":"fileType","value":"={{ $('Webhook5').item.json.body.fileType }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-4768,-3280],"id":"3a29965a-be61-46c5-be85-f7c65492f635","name":"MySQL19"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"ripplelinkedin","mode":"list","cachedResultName":"ripplelinkedin"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-3648,-3280],"id":"ff446a63-c20b-444e-bbba-d168de3459c6","name":"Qdrant Vector Store2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-3664,-3056],"id":"acf230d2-d077-4056-a9ff-38117009ba3a","name":"Embeddings Google Gemini6"},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"userId","value":"={{ $('Webhook5').item.json.body.userId }}"},{"name":"type","value":"userUploads"},{"name":"fileId","value":"={{ $('Crypto1').item.json.uuid }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-3472,-3056],"id":"4f96c806-c81e-47a5-95b4-46cf4b8b9d06","name":"Default Data Loader3"},{"parameters":{"chunkSize":400,"chunkOverlap":40},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[-3408,-2832],"id":"5f810245-9b68-473c-b693-ddbfc6b1c01e","name":"Token Splitter3"},{"parameters":{"promptType":"define","text":"=You are a helpful assistant for checking user input related data in qdrant vector db data collections.\n\nuser input :  {{ $json.output[0].userPrompt }}\n\nfetch max 1 result\n\nif qdrant results don't seem to be directly related to user input modify resultsFound to false.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-3952,-5296],"id":"06857dfd-1a8d-409f-b3e3-17eda284e22d","name":"AI Agent7"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4112,-5072],"id":"d881cf79-e76e-4494-9cf9-9f67497ce232","name":"Google Gemini Chat Model3"},{"parameters":{"mode":"retrieve-as-tool","toolName":"rippleai","toolDescription":"work with your data in qdrant collection","qdrantCollection":{"__rl":true,"value":"ripplelinkedin","mode":"list","cachedResultName":"ripplelinkedin"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-3904,-5056],"id":"98402688-4da5-4404-ba35-0776f7481d50","name":"Qdrant Vector Store3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-4000,-4896],"id":"73bfedde-f4a7-4528-81d8-0b2f171876ee","name":"Embeddings Google Gemini7"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YNt92rdPqRQwb6U4dsao40Sp9Kz76JCc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  model: \"mistral-ocr-latest\",\n  document: {\n    \"type\": \"image_url\",\n    \"image_url\": $json.filePath\n},\n  include_image_base64: true\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4112,-3376],"id":"df4f3e4e-f527-4ad3-82a3-da059a4fc2fc","name":"IMAGE OCR1"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YNt92rdPqRQwb6U4dsao40Sp9Kz76JCc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  model: \"mistral-ocr-latest\",\n  document: {\n    type: \"document_url\",\n    document_url: $('Remodify Response1').item.json.filePath,\n},\n  include_image_base64: true\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4112,-3184],"id":"bf80c2ce-3f65-4cab-94c9-6e5d2fbd859b","name":"PDF OCR1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d731affe-2a05-4c2e-86fd-4a84e518208b","leftValue":"={{ $json.fileType.split('/')[1] }}","rightValue":"jpg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"add80986-d6fe-4a76-b615-4ed6bdb18e57","leftValue":"={{ $json.fileType.split('/')[1] }}","rightValue":"jpeg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"47cbbe7c-8b7d-428d-88cc-d1d4f824e52d","leftValue":"={{ $json.fileType.split('/')[1] }}","rightValue":"png","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4320,-3280],"id":"8ce5cd49-c924-4c9d-9b3e-1b811b4e33c7","name":"Recongnize File Types1"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nfor (const item of $input.all()) {\n  item.json.filePath = \"https://vzeppbheuluizjzinrvb.supabase.co/storage/v1/object/public/sri-ai-test-bucket-51/\" + $('Crypto1').first().json.uuid;\n  item.json.fileType = $('Webhook5').first().json.body.fileType\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4544,-3280],"id":"eb092eca-df5e-4bd9-9ce9-5f30ea56c6fd","name":"Remodify Response1"},{"parameters":{"jsonSchemaExample":"{\n\t\"output\": \"\",\n\t\"resultsFound\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-3600,-5056],"id":"e226d402-65d2-473f-b017-d20b25cce47c","name":"Structured Output Parser7"},{"parameters":{"assignments":{"assignments":[{"id":"2b70ef39-8adc-47b2-8b58-108fd77362d4","name":"knowledge_base","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3408,-5104],"id":"15f49f68-9cd5-4c10-8330-fec3322bdc67","name":"rename field1"},{"parameters":{"errorMessage":"Error"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-1712,-4272],"id":"38ed1097-5e36-4282-8a00-87acef61928e","name":"Stop and Error1"}],"connections":{"Perplexity":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google Gemini":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Groq Chat Model2":{"ai_languageModel":[[{"node":"Summarize Final Post","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Perplexity","type":"ai_languageModel","index":0}]]},"Merge":{"main":[[{"node":"Summarize Final Post","type":"main","index":0}]]},"Reedit Serch":{"main":[[{"node":"Reedit Search","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Reedit Serch","type":"ai_languageModel","index":0}]]},"Summarize Final Post":{"main":[[{"node":"if image and post","type":"main","index":0}]]},"Reedit Search":{"main":[[{"node":"parser","type":"main","index":0}]]},"parser":{"main":[[{"node":"Merge","type":"main","index":1}]]},"enhance the query":{"main":[[{"node":"only Post","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Google Gemini","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"enhance the query","type":"main","index":0}]]},"only Post":{"main":[[{"node":"FetchLinkedInPosts","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"enhance the query","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"enhance the query","type":"ai_languageModel","index":0}]]},"GenerateAccessToken":{"main":[[{"node":"GetUserId","type":"main","index":0}]]},"GetUserId":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"GenerateAccessToken","type":"main","index":0}]]},"if image and post":{"main":[[],[{"node":"Respond to Webhook","type":"main","index":0},{"node":"MySQL","type":"main","index":0}]]},"FetchLinkedInPosts":{"main":[[],[{"node":"Perplexity","type":"main","index":0},{"node":"Reedit Serch","type":"main","index":0},{"node":"Google Gemini","type":"main","index":0},{"node":"AI Agent3","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"getUserChannels":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"MySQL3":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"getUserAIPosts":{"main":[[{"node":"MySQL3","type":"main","index":0}]]},"MySQL4":{"main":[[{"node":"Respond to Webhook6","type":"main","index":0}]]},"disconnectChannel":{"main":[[{"node":"MySQL4","type":"main","index":0}]]},"MySQL5":{"main":[[{"node":"save to user posts","type":"main","index":0}]]},"PostLinkedAPI":{"main":[[{"node":"MySQL5","type":"main","index":0}]]},"Post in LinkedIn":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"MySQL6","type":"main","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"generateImage":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Image Generator2","type":"main","index":0}]]},"Image Generator2":{"main":[[{"node":"S31","type":"main","index":0}]]},"S31":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Respond to Webhook8","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"save to user posts":{"main":[[{"node":"MySQL7","type":"main","index":0}]]},"MySQL7":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Post in LinkedIn","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Post in LinkedIn1","type":"main","index":0}]]},"MySQL8":{"main":[[{"node":"Respond to Webhook9","type":"main","index":0}]]},"getUserAIPosts1":{"main":[[{"node":"MySQL8","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"OpenRouter Chat Model5":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Code2":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"S32","type":"main","index":0}]]},"S32":{"main":[[{"node":"MySQL9","type":"main","index":0}]]},"MySQL9":{"main":[[{"node":"Remodify Response","type":"main","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Token Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Respond to Webhook10","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Embeddings Google Gemini3":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"IMAGE OCR":{"main":[[{"node":"Code2","type":"main","index":0}]]},"PDF OCR":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Recongnize File Types":{"main":[[{"node":"IMAGE OCR","type":"main","index":0}],[{"node":"PDF OCR","type":"main","index":0}]]},"Remodify Response":{"main":[[{"node":"Recongnize File Types","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"rename field","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent3","type":"ai_outputParser","index":0}]]},"rename field":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Perplexity1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Google Gemini1":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Summarize Final Post1","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model6":{"ai_languageModel":[[{"node":"Perplexity1","type":"ai_languageModel","index":0}]]},"Merge1":{"main":[[{"node":"Summarize Final Post1","type":"main","index":0}]]},"Reedit Serch1":{"main":[[{"node":"Reedit Search1","type":"main","index":0}]]},"OpenRouter Chat Model7":{"ai_languageModel":[[{"node":"Reedit Serch1","type":"ai_languageModel","index":0}]]},"Summarize Final Post1":{"main":[[{"node":"if image and post1","type":"main","index":0}]]},"Reedit Search1":{"main":[[{"node":"parser1","type":"main","index":0}]]},"parser1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"enhance the query1":{"main":[[{"node":"only Post1","type":"main","index":0}]]},"OpenRouter Chat Model8":{"ai_languageModel":[[{"node":"Google Gemini1","type":"ai_languageModel","index":0}]]},"Webhook3":{"main":[[{"node":"enhance the query1","type":"main","index":0}]]},"only Post1":{"main":[[{"node":"FetchLinkedInPosts1","type":"main","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"enhance the query1","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model9":{"ai_languageModel":[[{"node":"enhance the query1","type":"ai_languageModel","index":0}]]},"GenerateAccessToken1":{"main":[[{"node":"GetUserId1","type":"main","index":0}]]},"GetUserId1":{"main":[[{"node":"MySQL11","type":"main","index":0}]]},"Webhook4":{"main":[[{"node":"GenerateAccessToken1","type":"main","index":0}]]},"Post in LinkedIn2":{"main":[[{"node":"Respond to Webhook15","type":"main","index":0}]]},"MySQL10":{"main":[[{"node":"Stop and Error1","type":"main","index":0}]]},"if image and post1":{"main":[[],[{"node":"Respond to Webhook1","type":"main","index":0},{"node":"MySQL10","type":"main","index":0}]]},"FetchLinkedInPosts1":{"main":[[],[{"node":"Perplexity1","type":"main","index":0},{"node":"Reedit Serch1","type":"main","index":0},{"node":"Google Gemini1","type":"main","index":0},{"node":"AI Agent7","type":"main","index":0}]]},"MySQL11":{"main":[[{"node":"Respond to Webhook11","type":"main","index":0}]]},"getUserChannels1":{"main":[[{"node":"MySQL12","type":"main","index":0}]]},"MySQL12":{"main":[[{"node":"Respond to Webhook12","type":"main","index":0}]]},"MySQL13":{"main":[[{"node":"Respond to Webhook13","type":"main","index":0}]]},"getUserAIPosts2":{"main":[[{"node":"MySQL13","type":"main","index":0}]]},"MySQL14":{"main":[[{"node":"Respond to Webhook14","type":"main","index":0}]]},"disconnectChannel1":{"main":[[{"node":"MySQL14","type":"main","index":0}]]},"MySQL15":{"main":[[{"node":"save to user posts1","type":"main","index":0}]]},"PostLinkedAPI1":{"main":[[{"node":"MySQL15","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"MySQL16","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Image Generator","type":"main","index":0}]]},"OpenRouter Chat Model10":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"AI Agent4","type":"ai_outputParser","index":0}]]},"generateImage1":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"Image Generator":{"main":[[{"node":"S3","type":"main","index":0}]]},"S3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook16","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code","type":"main","index":0}]]},"save to user posts1":{"main":[[{"node":"MySQL17","type":"main","index":0}]]},"MySQL17":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}],[{"node":"Post in LinkedIn2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Post in LinkedIn3","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"MySQL18":{"main":[[{"node":"Respond to Webhook17","type":"main","index":0}]]},"getUserAIPosts3":{"main":[[{"node":"MySQL18","type":"main","index":0}]]},"Webhook5":{"main":[[{"node":"Crypto1","type":"main","index":0}]]},"OpenRouter Chat Model11":{"ai_languageModel":[[{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"Structured Output Parser6":{"ai_outputParser":[[{"node":"AI Agent5","type":"ai_outputParser","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Pinecone Vector Store2","type":"ai_document","index":0}]]},"Token Splitter2":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini4":{"ai_embedding":[[{"node":"Pinecone Vector Store2","type":"ai_embedding","index":0}]]},"Code3":{"main":[[{"node":"Qdrant Vector Store2","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent6","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store3":{"ai_tool":[[{"node":"AI Agent6","type":"ai_tool","index":0}]]},"Embeddings Google Gemini5":{"ai_embedding":[[{"node":"Pinecone Vector Store3","type":"ai_embedding","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent6","type":"main","index":0}]]},"S33":{"main":[[{"node":"MySQL19","type":"main","index":0}]]},"Crypto1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"S33","type":"main","index":0}]]},"MySQL19":{"main":[[{"node":"Remodify Response1","type":"main","index":0}]]},"Qdrant Vector Store2":{"main":[[{"node":"Respond to Webhook18","type":"main","index":0}]]},"Embeddings Google Gemini6":{"ai_embedding":[[{"node":"Qdrant Vector Store2","type":"ai_embedding","index":0}]]},"Default Data Loader3":{"ai_document":[[{"node":"Qdrant Vector Store2","type":"ai_document","index":0}]]},"Token Splitter3":{"ai_textSplitter":[[{"node":"Default Data Loader3","type":"ai_textSplitter","index":0}]]},"AI Agent7":{"main":[[{"node":"rename field1","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"AI Agent7","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store3":{"ai_tool":[[{"node":"AI Agent7","type":"ai_tool","index":0}]]},"Embeddings Google Gemini7":{"ai_embedding":[[{"node":"Qdrant Vector Store3","type":"ai_embedding","index":0}]]},"IMAGE OCR1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"PDF OCR1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Recongnize File Types1":{"main":[[{"node":"IMAGE OCR1","type":"main","index":0}],[{"node":"PDF OCR1","type":"main","index":0}]]},"Remodify Response1":{"main":[[{"node":"Recongnize File Types1","type":"main","index":0}]]},"Structured Output Parser7":{"ai_outputParser":[[{"node":"AI Agent7","type":"ai_outputParser","index":0}]]},"rename field1":{"main":[[{"node":"Merge1","type":"main","index":3}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"content-type":"application/json","user-agent":"PostmanRuntime/7.43.4","accept":"*/*","cache-control":"no-cache","postman-token":"4aa81b73-6ff1-44da-90ae-732612b0f9f7","host":"localhost:5678","accept-encoding":"gzip, deflate, br","connection":"keep-alive","content-length":"100"},"params":{},"query":{},"body":{"userPrompt":"create a post on ai agents","generateFromLinkedin":false,"userId":"c7ceec18-df12-481d-b7b8-0012950b2c69","chatSessionId":"5aabb945-b10a-44da-8f3c-ccf20c95dfbf"},"webhookUrl":"http://localhost:5678/webhook-test/ai-linkedin-post","executionMode":"test"}}],"getUserChannels":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"PostmanRuntime/7.44.0","accept":"*/*","accept-encoding":"gzip, br","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"152.57.230.209","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"9443a735c2d84722-BOM","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","postman-token":"70f2bd27-0d78-4543-84ea-6b6cf4e12ed3","x-forwarded-for":"152.57.230.209, 172.69.86.13","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-hw8mx","x-is-trusted":"yes","x-real-ip":"152.57.230.209"},"params":{},"query":{"userId":"c7ceec18-df12-481d-b7b8-0012950b2c69"},"body":{},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/getUserChannels","executionMode":"test"}}],"getUserAIPosts":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8,az;q=0.7,bg;q=0.6,bm;q=0.5,bho;q=0.4,te;q=0.3","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"9444996f16feb2d6-CCU","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","origin":"http://localhost:3000","pragma":"no-cache","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f, 172.68.127.195","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-dzmpm","x-is-trusted":"yes","x-real-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f"},"params":{},"query":{"chatSessionId":"5aabb945-b10a-44da-8f3c-ccf20c95dfbf"},"body":{},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/getUserAIPosts","executionMode":"test"}}],"disconnectChannel":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8,az;q=0.7,bg;q=0.6,bm;q=0.5,bho;q=0.4,te;q=0.3","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"9444996f16feb2d6-CCU","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","origin":"http://localhost:3000","pragma":"no-cache","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f, 172.68.127.195","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-dzmpm","x-is-trusted":"yes","x-real-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f"},"params":{},"query":{"id":"5aabb945-b10a-44da-8f3c-ccf20c95dfbf"},"body":{},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/getUserAIPosts","executionMode":"test"}}],"PostLinkedAPI":[{"json":{"body":{"userId":"c7ceec18-df12-481d-b7b8-0012950b2c69","postDetails":"Here's the final LinkedIn post:\n\n**The Rapid Evolution of AI Agents: Trends, Talking Points, and Insights**\n\nThe field of AI agents is experiencing explosive growth, driven by rapid innovation and development. We're now seeing complex reasoning and task execution capabilities beyond basic chatbots. However, this progress also raises important discussions around practical applications, safety, and ethics. As AI agents become more accessible and democratized, it's crucial we focus on responsible development and seamless integration with existing systems. With real-world applications spanning healthcare, finance, and customer service, the emphasis is shifting from theoretical advancements to tangible ROI. As we navigate these trends, it's essential to prioritize safety, control, and ethical implementation to ensure the long-term benefits of AI agents.\n\n#AI #ArtificialIntelligence #MachineLearning #Chatbots #AIApplications #EthicsInAI #DigitalTransformation","imageUrl":"https://vzeppbheuluizjzinrvb.supabase.co/storage/v1/object/public/sri-ai-test-bucket-51/6fe96d6a-bb49-4845-8ab2-59314dd45873","chatSessionId":"6fe96d6a-bb49-4845-8ab2-59314dd45873","imagePost":true}}}],"generateImage":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","content-length":"95","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8,az;q=0.7,bg;q=0.6,bm;q=0.5,bho;q=0.4,te;q=0.3","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2409:40f0:112a:1966:28a8:1987:5b19:3127","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"945cf05507bfa024-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","origin":"http://localhost:3000","pragma":"no-cache","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"2409:40f0:112a:1966:28a8:1987:5b19:3127, 162.158.170.214","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-hw8mx","x-is-trusted":"yes","x-real-ip":"2409:40f0:112a:1966:28a8:1987:5b19:3127"},"params":{},"query":{},"body":{"chatSessionId":"6fe96d6a-bb49-4845-8ab2-59314dd45873","imagePrompt":"generate peacock image"},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/generate-image","executionMode":"test"}}],"getUserAIPosts1":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8,az;q=0.7,bg;q=0.6,bm;q=0.5,bho;q=0.4,te;q=0.3","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"9444996f16feb2d6-CCU","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","origin":"http://localhost:3000","pragma":"no-cache","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f, 172.68.127.195","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-dzmpm","x-is-trusted":"yes","x-real-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f"},"params":{},"query":{"userId":"c7ceec18-df12-481d-b7b8-0012950b2c69"},"body":{},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/getUserAIPosts","executionMode":"test"}}],"Webhook3":[{"json":{"headers":{"content-type":"application/json","user-agent":"PostmanRuntime/7.43.4","accept":"*/*","cache-control":"no-cache","postman-token":"4aa81b73-6ff1-44da-90ae-732612b0f9f7","host":"localhost:5678","accept-encoding":"gzip, deflate, br","connection":"keep-alive","content-length":"100"},"params":{},"query":{},"body":{"userPrompt":"create a post on ai agents","generateFromLinkedin":false,"userId":"c7ceec18-df12-481d-b7b8-0012950b2c69","chatSessionId":"5aabb945-b10a-44da-8f3c-ccf20c95dfbf"},"webhookUrl":"http://localhost:5678/webhook-test/ai-linkedin-post","executionMode":"test"}}],"getUserChannels1":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"PostmanRuntime/7.44.0","accept":"*/*","accept-encoding":"gzip, br","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"152.57.230.209","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"9443a735c2d84722-BOM","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","postman-token":"70f2bd27-0d78-4543-84ea-6b6cf4e12ed3","x-forwarded-for":"152.57.230.209, 172.69.86.13","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-hw8mx","x-is-trusted":"yes","x-real-ip":"152.57.230.209"},"params":{},"query":{"userId":"c7ceec18-df12-481d-b7b8-0012950b2c69"},"body":{},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/getUserChannels","executionMode":"test"}}],"getUserAIPosts2":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8,az;q=0.7,bg;q=0.6,bm;q=0.5,bho;q=0.4,te;q=0.3","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"9444996f16feb2d6-CCU","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","origin":"http://localhost:3000","pragma":"no-cache","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f, 172.68.127.195","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-dzmpm","x-is-trusted":"yes","x-real-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f"},"params":{},"query":{"chatSessionId":"5aabb945-b10a-44da-8f3c-ccf20c95dfbf"},"body":{},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/getUserAIPosts","executionMode":"test"}}],"disconnectChannel1":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8,az;q=0.7,bg;q=0.6,bm;q=0.5,bho;q=0.4,te;q=0.3","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"9444996f16feb2d6-CCU","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","origin":"http://localhost:3000","pragma":"no-cache","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f, 172.68.127.195","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-dzmpm","x-is-trusted":"yes","x-real-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f"},"params":{},"query":{"id":"5aabb945-b10a-44da-8f3c-ccf20c95dfbf"},"body":{},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/getUserAIPosts","executionMode":"test"}}],"PostLinkedAPI1":[{"json":{"body":{"userId":"c7ceec18-df12-481d-b7b8-0012950b2c69","postDetails":"Here's the final LinkedIn post:\n\n**The Rapid Evolution of AI Agents: Trends, Talking Points, and Insights**\n\nThe field of AI agents is experiencing explosive growth, driven by rapid innovation and development. We're now seeing complex reasoning and task execution capabilities beyond basic chatbots. However, this progress also raises important discussions around practical applications, safety, and ethics. As AI agents become more accessible and democratized, it's crucial we focus on responsible development and seamless integration with existing systems. With real-world applications spanning healthcare, finance, and customer service, the emphasis is shifting from theoretical advancements to tangible ROI. As we navigate these trends, it's essential to prioritize safety, control, and ethical implementation to ensure the long-term benefits of AI agents.\n\n#AI #ArtificialIntelligence #MachineLearning #Chatbots #AIApplications #EthicsInAI #DigitalTransformation","imageUrl":"https://vzeppbheuluizjzinrvb.supabase.co/storage/v1/object/public/sri-ai-test-bucket-51/6fe96d6a-bb49-4845-8ab2-59314dd45873","chatSessionId":"6fe96d6a-bb49-4845-8ab2-59314dd45873","imagePost":true}}}],"generateImage1":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","content-length":"95","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8,az;q=0.7,bg;q=0.6,bm;q=0.5,bho;q=0.4,te;q=0.3","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2409:40f0:112a:1966:28a8:1987:5b19:3127","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"945cf05507bfa024-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","origin":"http://localhost:3000","pragma":"no-cache","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"2409:40f0:112a:1966:28a8:1987:5b19:3127, 162.158.170.214","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-hw8mx","x-is-trusted":"yes","x-real-ip":"2409:40f0:112a:1966:28a8:1987:5b19:3127"},"params":{},"query":{},"body":{"chatSessionId":"6fe96d6a-bb49-4845-8ab2-59314dd45873","imagePrompt":"generate peacock image"},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/generate-image","executionMode":"test"}}],"getUserAIPosts3":[{"json":{"headers":{"host":"srinivasdev.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8,az;q=0.7,bg;q=0.6,bm;q=0.5,bho;q=0.4,te;q=0.3","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"9444996f16feb2d6-CCU","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","origin":"http://localhost:3000","pragma":"no-cache","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f, 172.68.127.195","x-forwarded-host":"srinivasdev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-dzmpm","x-is-trusted":"yes","x-real-ip":"2401:4900:33aa:7406:30d6:a69c:b36b:d64f"},"params":{},"query":{"userId":"c7ceec18-df12-481d-b7b8-0012950b2c69"},"body":{},"webhookUrl":"https://srinivasdev.app.n8n.cloud/webhook-test/getUserAIPosts","executionMode":"test"}}]},"versionId":"06d5c750-854b-4e81-835c-c9f8d6f9c5c4","triggerCount":0,"tags":[]}