workflows/MGRD81afSgGurpO8.json
{"createdAt":"2025-07-07T17:19:13.368Z","updatedAt":"2025-07-07T17:19:13.368Z","id":"MGRD81afSgGurpO8","name":"My workflow 9","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dog-grooming-inquiry","options":{}},"name":"Receive Inquiry","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[260,200],"id":"544f09b0-d9eb-4a87-8e75-1f2160b7d1a4","webhookId":"887c172e-92fe-4c61-a183-330c45649442"},{"parameters":{"functionCode":"return [{ json: { step: '1', message: $json.body.message.toLowerCase() } }];"},"name":"Parse Message","type":"n8n-nodes-base.function","typeVersion":1,"position":[460,200],"id":"78974b0f-8834-4735-9fb9-ce5307d222bc"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.message}}","operation":"contains","value2":"groom"}]}},"name":"Check Grooming Intent","type":"n8n-nodes-base.if","typeVersion":1,"position":[660,200],"id":"b648c4d2-e602-4a83-8076-c4a65c677b28"},{"parameters":{"options":{}},"name":"Ask Location","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-80,-220],"id":"58676672-2329-4e2f-bc95-31ae24c53a5c"},{"parameters":{"functionCode":"const zip = $json.body.zip || '560064';\nreturn [{ json: { step: '2', zip, serviceDays: ['Tuesday', 'Friday'] } }];"},"name":"Check Service Area","type":"n8n-nodes-base.function","typeVersion":1,"position":[120,-220],"id":"a8e30157-05b5-4f07-aec0-279ab81e1455"},{"parameters":{"options":{}},"name":"Ask Service Day","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[320,-220],"id":"871abdb5-9b66-4681-8875-b9b8a2c05603"},{"parameters":{"functionCode":"return [{ json: { step: '3', dogs: 2, breed: 'golden retriever', addOn: 'nail trim' } }];"},"name":"Quote Service","type":"n8n-nodes-base.function","typeVersion":1,"position":[520,-220],"id":"91b2dda4-3820-4a76-81b1-2e134cfd5915"},{"parameters":{"options":{}},"name":"Show Quote","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[720,-220],"id":"b2561385-f2a6-46d9-99f2-83b835bb257d"},{"parameters":{"requestMethod":"POST","url":"https://api.sweepandgo.com/bookings","jsonParameters":true,"options":{},"bodyParametersJson":"{\"date\": \"Friday\", \"dogs\": 2, \"addOn\": \"nail trim\"}"},"name":"Confirm Booking","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[920,-220],"id":"da6415ac-0ddf-4722-890f-bc29133da5ba"},{"parameters":{"options":{}},"name":"Send Confirmation","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1120,-220],"id":"a3b40847-f57f-4446-9bf1-a90e60ce3505"}],"connections":{"Ask Location":{"main":[[{"node":"Check Service Area","type":"main","index":0}]]},"Check Service Area":{"main":[[{"node":"Ask Service Day","type":"main","index":0}]]},"Ask Service Day":{"main":[[{"node":"Quote Service","type":"main","index":0}]]},"Quote Service":{"main":[[{"node":"Show Quote","type":"main","index":0}]]},"Show Quote":{"main":[[{"node":"Confirm Booking","type":"main","index":0}]]},"Confirm Booking":{"main":[[{"node":"Send Confirmation","type":"main","index":0}]]},"Receive Inquiry":{"main":[[{"node":"Parse Message","type":"main","index":0}]]},"Parse Message":{"main":[[{"node":"Check Grooming Intent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fb8142a9-eea5-4536-9ca0-75a42f7d8828","triggerCount":0,"tags":[]}