workflows/Pap8k2OIo9mSE7zy.json
{"createdAt":"2025-08-01T11:02:32.760Z","updatedAt":"2025-08-02T13:29:30.000Z","id":"Pap8k2OIo9mSE7zy","name":"Scraping","active":false,"isArchived":false,"nodes":[{"parameters":{"command":"node /scripts/facebooklogin.js"},"id":"166b6cef-d159-4e61-873e-be3d87a28997","name":"Execute Script","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[48,16]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-144,16],"id":"edcdcd38-49e6-4912-afef-f87cd125ebb7","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,16],"id":"09580a76-bac5-49e9-b53a-2f9ba962817b","name":"Code"},{"parameters":{"select":"user","user":{"__rl":true,"value":" om.agarwal@crimsonbeans.co.in","mode":"username"},"messageType":"=text","text":"=This is title {{ $json.title }}\nand \nlink is {{ $json.link }}","attachments":[],"otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[496,16],"id":"755d55a9-df63-42f6-a401-dc9d3a2996ca","name":"Send a message","webhookId":"172e4645-c31a-46b7-9f10-c688acfec915","credentials":{"slackApi":{"id":"tjCkGhT0xZtWAYSh","name":"Slack account 2"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute Script","type":"main","index":0}]]},"Execute Script":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Code":[{"json":{"exitCode":0,"stderr":"","stdout":"[\n  {\n    \"title\": \"Cerebras Code\",\n    \"link\": \"https://www.cerebras.ai/blog/introducing-cerebras-code\"\n  },\n  {\n    \"title\": \"Hardening mode for the compiler\",\n    \"link\": \"https://discourse.llvm.org/t/rfc-hardening-mode-for-the-compiler/87660\"\n  },\n  {\n    \"title\": \"Coffeematic PC – A coffee maker computer that pumps hot coffee to the CPU\",\n    \"link\": \"https://www.dougmacdowell.com/coffeematic-pc.html\"\n  },\n  {\n    \"title\": \"Weather Model based on ADS-B\",\n    \"link\": \"https://obrhubr.org/adsb-weather-model\"\n  },\n  {\n    \"title\": \"At $250M, top AI salaries dwarf the Manhattan Project and the Space Race\",\n    \"link\": \"https://arstechnica.com/ai/2025/08/at-250-million-top-ai-salaries-dwarf-those-of-the-manhattan-project-and-the-space-race/\"\n  },\n  {\n    \"title\": \"Robert Wilson has died\",\n    \"link\": \"https://www.theartnewspaper.com/2025/08/01/robert-wilson-playwright-director-artist-obituary\"\n  },\n  {\n    \"title\": \"JavaScript retro sound effects generator\",\n    \"link\": \"https://github.grumdrig.com/jsfxr/\"\n  },\n  {\n    \"title\": \"At 17, Hannah Cairo solved a major math mystery\",\n    \"link\": \"https://www.quantamagazine.org/at-17-hannah-cairo-solved-a-major-math-mystery-20250801/\"\n  },\n  {\n    \"title\": \"Ethersync: Peer-to-peer collaborative editing of local text files\",\n    \"link\": \"https://github.com/ethersync/ethersync\"\n  },\n  {\n    \"title\": \"I couldn't submit a PR, so I got hired and fixed it myself\",\n    \"link\": \"https://www.skeptrune.com/posts/doing-the-little-things/\"\n  },\n  {\n    \"title\": \"The Rickover Corpus: A digital archive of Admiral Rickover's speeches and memos\",\n    \"link\": \"https://rickovercorpus.org/\"\n  },\n  {\n    \"title\": \"Ask HN: Who is hiring? (August 2025)\",\n    \"link\": \"https://news.ycombinator.com/item?id=44757794\"\n  },\n  {\n    \"title\": \"Native Sparse Attention\",\n    \"link\": \"https://aclanthology.org/2025.acl-long.1126/\"\n  },\n  {\n    \"title\": \"Does the Bitter Lesson Have Limits?\",\n    \"link\": \"https://www.dbreunig.com/2025/08/01/does-the-bitter-lesson-have-limits.html\"\n  },\n  {\n    \"title\": \"Researchers map where solar energy delivers the biggest climate payoff\",\n    \"link\": \"https://www.rutgers.edu/news/researchers-map-where-solar-energy-delivers-biggest-climate-payoff\"\n  },\n  {\n    \"title\": \"Anthropic revokes OpenAI's access to Claude\",\n    \"link\": \"https://www.wired.com/story/anthropic-revokes-openais-access-to-claude/\"\n  },\n  {\n    \"title\": \"Yearly Organiser\",\n    \"link\": \"https://neatnik.net/calendar/\"\n  },\n  {\n    \"title\": \"Sources of Truth – By John Cutler\",\n    \"link\": \"https://cutlefish.substack.com/p/tbm-369-sources-of-truth\"\n  },\n  {\n    \"title\": \"Launch HN: Societies.io (YC W25) – AI simulations of your target audience\",\n    \"link\": \"https://news.ycombinator.com/item?id=44755654\"\n  },\n  {\n    \"title\": \"The tradeoff between human and AI context\",\n    \"link\": \"https://softwaredoug.com/blog/2025/07/30/layers-of-ai-coding\"\n  },\n  {\n    \"title\": \"Show HN: Draw a fish and watch it swim with the others\",\n    \"link\": \"https://drawafish.com/\"\n  },\n  {\n    \"title\": \"Replacing tmux in my dev workflow\",\n    \"link\": \"https://bower.sh/you-might-not-need-tmux\"\n  },\n  {\n    \"title\": \"Ergonomic keyboarding with the Svalboard: a half-year retrospective\",\n    \"link\": \"https://twey.io/hci/svalboard/\"\n  },\n  {\n    \"title\": \"Ask HN: Who wants to be hired? (August 2025)\",\n    \"link\": \"https://news.ycombinator.com/item?id=44757792\"\n  },\n  {\n    \"title\": \"Make Your Own Backup System – Part 2: Forging the FreeBSD Backup Stronghold\",\n    \"link\": \"https://it-notes.dragas.net/2025/07/29/make-your-own-backup-system-part-2-forging-the-freebsd-backup-stronghold/\"\n  },\n  {\n    \"title\": \"Google shifts goo.gl policy: Inactive links deactivated, active links preserved\",\n    \"link\": \"https://blog.google/technology/developers/googl-link-shortening-update/\"\n  },\n  {\n    \"title\": \"Twentyseven 1.0\",\n    \"link\": \"https://blog.poisson.chat/posts/2025-08-01-twentyseven.html\"\n  },\n  {\n    \"title\": \"Our Farewell from Google Play\",\n    \"link\": \"https://secuso.aifb.kit.edu/english/2809.php\"\n  },\n  {\n    \"title\": \"Self-Signed JWTs\",\n    \"link\": \"https://www.selfref.com/self-signed-jwts\"\n  },\n  {\n    \"title\": \"Show HN: TraceRoot – Open-source agentic debugging for distributed services\",\n    \"link\": \"https://github.com/traceroot-ai/traceroot\"\n  }\n]","myNewField":1}}]},"versionId":"1d88eb4b-a3e7-4981-922f-8bc0790eb41d","triggerCount":0,"tags":[]}