workflows/uPAAmILAsQ56RCd1.json
{"createdAt":"2025-07-28T13:08:53.361Z","updatedAt":"2025-07-28T13:08:53.361Z","id":"uPAAmILAsQ56RCd1","name":"My workflow 12","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[128,160],"id":"811e0a41-22c8-4d52-add6-f33816e276e1","name":"Extract Parameter"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,160],"id":"e86c0639-b18d-4c6e-8bfe-d304b1ad9ee0","name":"Clean And Format Data"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[672,160],"id":"65191431-1c61-4b06-b72a-b6e80a24252e","name":"Intelligent Lead Scoring"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[544,336],"id":"e61de098-e0a8-4e35-b44a-9b741127ba9e","name":"OpenAi"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,160],"id":"4db2ad80-7937-4b82-bac1-443a0e8c5373","name":"Start"},{"parameters":{"content":"## Start Flow\n\nReceive the parameter to calcuate the lead","height":256},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-224,16],"id":"2760274d-355f-4ce9-8f75-51951536bf51","name":"Sticky Note"},{"parameters":{"content":"## Extract The Data From Sheet\n\nRead the data form sheet","height":256,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,16],"id":"239406eb-0b1e-45c8-817b-5a3057b7d230","name":"Sticky Note1"},{"parameters":{"content":"## Clean Data\n\nExtracted Data will be cleaned and proper formatted data will be availbale here for process","height":256,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,16],"id":"0deaa347-f1a1-4376-b6a2-619ea377ac53","name":"Sticky Note2"},{"parameters":{"content":"## Intelligent Lead Scoring System\n\nThe intelligent lead scoring system will take all the parameter and based on those it will mark the lead as Hot , Cold  and score of the lead","height":256,"width":464,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,16],"id":"74413bf5-7835-4631-bb36-6a636c3806a2","name":"Sticky Note3"},{"parameters":{"content":"## Save Data\n\nSave the data into the db along with the lead score , parameter for future reference","height":256,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,16],"id":"c57a2d55-03ae-4ce1-8928-42e0cf0d5986","name":"Sticky Note4"},{"parameters":{"operation":"insert","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[1232,160],"id":"f605fc9a-5ee0-40e0-b655-1ba12432944a","name":"Save Score"}],"connections":{"Extract Parameter":{"main":[[{"node":"Clean And Format Data","type":"main","index":0}]]},"Clean And Format Data":{"main":[[{"node":"Intelligent Lead Scoring","type":"main","index":0}]]},"Intelligent Lead Scoring":{"main":[[{"node":"Save Score","type":"main","index":0}]]},"OpenAi":{"ai_languageModel":[[{"node":"Intelligent Lead Scoring","type":"ai_languageModel","index":0}]]},"Start":{"main":[[{"node":"Extract Parameter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"384697e6-da8f-4fdd-9500-3bef0005098c","triggerCount":0,"tags":[]}