workflows/VdJRg1zs3r3CpgS1.json
{"createdAt":"2025-07-07T12:38:59.698Z","updatedAt":"2025-07-08T17:51:30.000Z","id":"VdJRg1zs3r3CpgS1","name":"Adv Sales Chatbot for pet wasteage service","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"f58cbaf2-2f38-4e69-8f06-dd91016844bd","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1240,-120],"id":"fe0979b7-a8c8-45a2-b5f6-e3e61d784700","name":"Webhook","webhookId":"f58cbaf2-2f38-4e69-8f06-dd91016844bd"},{"parameters":{"content":"## Webhook\nTrigger: User sends a message on Facebook/Instagram DM or website widget.\nPath: /pet-chat-start\nMethod: POST\nPurpose: Entry point to initiate the chatbot conversation.\n","height":680,"width":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1260,-360],"id":"05c444d1-a5d6-4054-99d8-ad8c5dc6bfeb","name":"Sticky Note"},{"parameters":{"content":"## Machine Learning and chatboot(RAG)\nProcess User Input (GPT-4)\nInput: User message\nFunction: Analyze intent – zip code, number/type of pets, requested services.\nTool: GPT-4 API with memory and Pinecone/Chroma vector store (RAG if needed)","height":680,"width":440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-740,-360],"id":"f569a01b-d146-47b5-a1c3-79118e907564","name":"Sticky Note2"},{"parameters":{"mode":"retrieve-as-tool","pineconeIndex":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.2,"position":[-560,160],"id":"094d93f3-e576-4c03-b2f3-246044cd305c","name":"Pinecone Vector Store"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-700,160],"id":"a30b4d2f-1e44-4314-96c8-606a20508c18","name":"OpenAI Chat Model"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-660,-120],"id":"1f785e1c-23c0-44d1-b78a-a59d0581f027","name":"Agent to analysis user response and reply"},{"parameters":{"content":"## Node Type: Set / Code\n\nAction: Based on service type, dog size, and location, generate price\n\nExample:\nSmall Dog Bath + Nail Trim = $49.99","height":600,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,-360],"id":"1927ff35-c954-4cc1-a592-3f89df7865e9","name":"Sticky Note3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,-120],"id":"64d8054e-c0f1-4d3a-a37f-030ad32704fa","name":"Edit Fields"},{"parameters":{"content":"## Greet User\n\nAction: Sends a friendly, brand-voiced welcome message.\nSample Text:\n\"Hi there! Welcome to ChatSpark Pet Grooming. Let me help you get a quote.\"\n\n","height":680,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1020,-360],"id":"f5c3bbce-eb08-4264-bcb3-f3b5f3edd6e9","name":"Sticky Note5"},{"parameters":{"content":"## Check Service Availability\nService: Sweep and Go (or any 3rd party booking API)\nAction: Call API with zip code & service type\nResponse: Available slots, groomer match, pricing logic","height":600,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-280,-360],"id":"ab45e268-1ef3-4d8b-a78a-c062332d3905","name":"Sticky Note6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-200,-120],"id":"3e97f32d-726e-41d5-9551-b20727df9958","name":"pooper‑scooper post"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-120],"id":"8a0a143f-44cb-46d5-a505-18ffd3507292","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,-120],"id":"8951a09b-46f1-43d0-a26c-9c29e22c9cc6","name":"HTTP Request"},{"parameters":{"content":"## Booking Redirect / Form Submission\nService: Direct link to booking form or call to Sweep and Go\n\nAction: Create a booking slot and return confirmation","height":600,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[300,-360],"id":"ac55dff1-d9f2-4f90-8eb0-d124a7fd7ce9","name":"Sticky Note7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1160,640],"id":"7b0f878f-314e-4540-af15-d8fdf6519067","name":"Edit Fields1"},{"parameters":{"content":"## Confirmation Message\nText: You're all set! We'll see you on your grooming day. Need anything else?","height":400,"width":380,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1240,380],"id":"a8ee5d8a-0a6a-4f36-853f-3cd4aa9a63a4","name":"Sticky Note8"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-760,640],"id":"a73afb9b-0fc7-4d60-bb01-e419134f1f3a","name":"Wait","webhookId":"ef0157ff-a4ef-4aba-b331-ac3c1fa844c9"},{"parameters":{"content":"## Post-Service Engagement (Optional)\nNode Type: Wait → Set → Email/SMS or Messenger API\n\nAction: Send follow-up for feedback, reviews, or promo\n\nTrigger: 24–48 hours after service date\n\n","height":400,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,380],"id":"0700f734-0d4c-401f-8e17-25196c5748c4","name":"Sticky Note4"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1660,1360],"id":"cc57ddc7-1dd7-4db4-a9ac-542096a47f4a","name":"Edit Fields2"},{"parameters":{"content":"## Load your training content (e.g., “pricing policy”, “FAQ”, etc.)","height":620,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1680,1140],"id":"c55dd0ef-4c8a-4ecc-88ab-999389118700","name":"Sticky Note1"},{"parameters":{"content":"## Function\nSplit the text into chunks of up to 500 characters, including line breaks.\n\n\n","height":620,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1400,1140],"id":"81e194d2-588c-40f0-b380-90b558a2bc2e","name":"Sticky Note9"},{"parameters":{"content":"## Follow Below Instruction\nBusiness data is first prepared in an Excel or CSV file (e.g., services, pricing, service areas).\nThat data is embedded using OpenAI’s Embedding API and stored in a vector database like Pinecone or Chroma.\nDuring chatbot interactions, the same vector database is queried to fetch relevant business knowledge in real-time.\nThe retrieved data is used to guide the chatbot responses and interact with third-party systems (like booking or availability APIs).\n\n","height":620,"width":980,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1120,1140],"id":"b70b9058-1fd6-418c-8b4a-6b7587b0c8ec","name":"Sticky Note10"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-880,1580],"id":"229a796e-5dd1-404f-8957-fe26ab2c0198","name":"Embed data using open ai Embed","credentials":{"openAiApi":{"id":"jwg6bbbn5SPmRecv","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-980,1320],"id":"95f6e3c5-3b50-412d-a813-0626e9f49799","name":"Embed Agent"},{"parameters":{"mode":"retrieve-as-tool","pineconeIndex":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.2,"position":[-500,1520],"id":"bb2dff87-0ff4-404e-8a53-09523a63f9b5","name":"Pinecone Vector Store1"},{"parameters":{"content":"## Vector DB\nCreated Vector DB to store data in dimenion","height":300,"width":340,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-540,1380],"id":"c252c753-a40a-4666-a9aa-85559236627e","name":"Sticky Note11"},{"parameters":{"content":"## Embeded data Using OpenAI api","height":240,"width":460,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1100,1500],"id":"acbe8590-72f6-4b0a-8355-9be7427436d6","name":"Sticky Note12"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,1360],"id":"886d14fb-b979-4683-acf8-ee927354c9ad","name":"Function to split and load data"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[{"node":"Agent to analysis user response and reply","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agent to analysis user response and reply","type":"ai_languageModel","index":0}]]},"Agent to analysis user response and reply":{"main":[[{"node":"pooper‑scooper post","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Agent to analysis user response and reply","type":"main","index":0}]]},"pooper‑scooper post":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Function to split and load data","type":"main","index":0}]]},"Embed data using open ai Embed":{"ai_languageModel":[[{"node":"Embed Agent","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"Embed Agent","type":"ai_tool","index":0}]]},"Function to split and load data":{"main":[[{"node":"Embed Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"847c8741-d4e5-41a6-ada0-60ac238f2f5e","triggerCount":0,"tags":[]}