workflows/xk9vAFnikudk6KC6.json
{"createdAt":"2025-07-03T09:55:15.068Z","updatedAt":"2025-07-03T09:55:15.068Z","id":"xk9vAFnikudk6KC6","name":"My workflow 4","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1020,240],"id":"f86b6ca7-d381-4c01-b1a9-5b95f7d053ec","name":"Groq Chat Model"},{"parameters":{"content":"## Code will sassign leads to representative and sent notification to sale representive \n","height":560,"width":400,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1620,-140],"id":"6fc8387a-32fb-4740-975e-346924d25ea9","name":"Sticky Note1"},{"parameters":{"content":"## Find Sale Representative With Help of Agentic AI and trained Knowledgebase, Algorthm\n\nThe intelligent lead scoring agent will find the best of sale repreesentative for the lead comes from previous agent. This agent will give two parameter in collection like previous leads and best sale representative","height":560,"width":600,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1000,-140],"id":"6c02e206-c772-467c-8877-c09a777b111c","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1040,60],"id":"a06c648a-aab7-4bf3-9f86-f2c8b30b8954","name":"Lead Management"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-340,60],"id":"962f1bbb-fbb7-447c-9356-f1a3507dc350","name":"start point"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,100],"id":"c92e169a-36e0-4ac1-b790-3c5c00a88295","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[80,260],"id":"6453b8db-4075-4e73-bc9d-5b56d6ee7a00","name":"Form","webhookId":"5a890ffb-5520-4b62-be7c-da877fca29e3"},{"parameters":{"content":"## Source Type\n\n","height":560,"width":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-140],"id":"fa460c71-794d-413e-b37c-8ae67b6987fb","name":"Sticky Note3"},{"parameters":{"resource":"table","workbook":{"__rl":true,"mode":"list","value":""},"worksheet":{"__rl":true,"mode":"list","value":""},"table":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[80,-40],"id":"9fc4a9b8-4996-46b7-a30e-590778fc8040","name":"Excel Sheet"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"8e706261-408b-4d89-a3df-7936eecf36f2"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[380,80],"id":"96fc0742-5111-4550-9c5f-eafe1a50a0ae","name":"Switch"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-200,60],"id":"181c84ce-8756-4d85-bb13-2d6799d48067","name":"Split Out"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[680,60],"id":"2e2587f8-5c20-42b9-8c89-2aed6861a307","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[680,300],"id":"32275110-56de-4c2c-9849-1fd298c92bfc","name":"Groq Chat Model1"},{"parameters":{"mode":"retrieve-as-tool","pineconeIndex":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.2,"position":[1140,240],"id":"a3b69036-655e-45dc-86de-f19ca0923aea","name":"Pinecone Vector Store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1440,260],"id":"ce1a979a-01e9-42da-89a4-29c20a4e8a3b","name":"Embeddings OpenAI"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1720,60],"id":"98ee0da2-521d-4faf-b71f-0f864efaaf5f","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2140,80],"id":"2daf3b9a-e4cc-4abf-969b-d7ea030d3bdb","name":"Send Email","webhookId":"f7da38fd-f55e-4912-bd4d-95338b9c6deb"},{"parameters":{"content":"## Lead Score Generation\n\nWe will generate score for leads based on data provided from source type with help of \n## Agentic AI and Algorthm  \nThis will return in json formate for next agent","height":560,"width":340,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,-140],"id":"d5af7681-a543-4c25-8180-2541417c34f7","name":"Sticky Note4"},{"parameters":{"content":"## Trigger Type\nManual IT will trigger based on data souce availbility\n","height":560,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-340,-140],"id":"5f8b1ca7-6b4b-4e80-84b9-ff655538a773","name":"Sticky Note5"},{"parameters":{"content":"## Data Retive base on source available\n","height":560,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[280,-140],"id":"5a82e000-87ed-49f8-a2ec-26bcbfa24f3d","name":"Sticky Note"},{"parameters":{"content":"## Notification methon","height":560,"width":380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2040,-140],"id":"0b443847-b835-4157-83f7-28725cfd545f","name":"Sticky Note6"},{"parameters":{"path":"15c400f6-8654-471c-a0b3-020a342590b9","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-540,860],"id":"6cc7758e-b33f-42dc-b68c-f320c0f0f4e1","name":"Webhook","webhookId":"15c400f6-8654-471c-a0b3-020a342590b9"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-280,860],"id":"d0ce69a6-7134-4cf7-bffa-e51feb6533ca","name":"AI Agent1"}],"connections":{"Groq Chat Model":{"ai_languageModel":[[{"node":"Lead Management","type":"ai_languageModel","index":0}]]},"Lead Management":{"main":[[{"node":"Code","type":"main","index":0}]]},"start point":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Excel Sheet":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Form":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Excel Sheet","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0},{"node":"Form","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[{"node":"Lead Management","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Lead Management","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Code":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f7cf837a-5d35-4081-b2bc-46135d59e52f","triggerCount":0,"tags":[]}